@import "settings";

img {
	max-width: 100%;
	height: auto;
}
.mover {
	.wrapper-mover {
		.box-sign {
			max-width: 610px;
			margin: 3.6458333333vw auto 0;
			background-image: url(../images/bg_signup_not-title.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: top center;
			padding: 19.5% 4em;
			padding-bottom: 14em;
			width: 100%;
			height: auto;
			&.box-signup {
				max-width: 610px;
				margin: 3.6458333333vw auto 0;
				background-image: url(../images/bg_signup_not-title.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-position: top center;
				padding: 19.5% 4em;
				padding-bottom: 14em;
				width: 100%;
				height: auto;
				h2 {
					text-align: center;
					display: block;
					margin-left: 1vw;
					margin-right: -1vw;
					margin-bottom: 0;
					img {
						margin: 0 auto;
						display: block;
					}
				}
				.input-signup {
					font-size: 1.56rem;
					padding: 5% 6%;
					height: auto;
					width: 100%;
				}
				.line-input  {
					height: auto;
				}
			}
		}
	}
}
@media screen and (min-width: $bp-sp + 1){
	.mover {
		.wrapper-mover {
			.box-sign {
				&.box-signup {
					.btn-login {
						font-size: 2.3rem;
						padding-top: 0.5em;
						width: 43%;
						height: auto;
						margin-top: 0;
					}
					.line-input {
						.error {
							font-size: 1rem;
							padding-top: 3px;
							padding-bottom: 3px;
						}
					}
					.box-confirm {
						font-size: 0.8rem;
						padding-left: 0;
						.checkmark {
							width: 2.5em;
							height: 2.5em;
							&:after {
								left: 50%;
								top: 50%;
								@include transform(translate(-50%,-50%));
								width: 1.5em;
								height: 1.5em;
							}
						}
						.text-confirm {
							padding-left: 3em;
						}
					}
					.redirect-signup {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

@include mq(sp){
	.mover {
		.wrapper-mover {
			.box-sign {
				&.box-signup {
					padding: 4% 15%;
					padding-bottom: 12em;
					.line-input {
						height: auto;
						.error {
							text-align: left;
							padding: 5px 5%;
						}
					}
					.input-signup {
						width: 100%;
						border: none;
						padding: 7% 6%;
						color: #ffffff;
						font-size: 13px;
						height: auto;
						line-height: normal;
					}
					.box-confirm {
						font-size: 0.7em;
						.checkmark{
							width: 2em;
							height: 2em;
							margin-top: -0.78em;
							&:after {
								left: 0.4em;
								top: 0.4em;
								width: 1.2em;
								height: 1.2em;
							}
						}
						.text-confirm {
							padding-left: 2.2em;
						}
					}
					@include mq(sp_s){
						padding-top: 13%;
					}
				}
			}
		}
	}

}