/**popup**/
.full-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000080;
  z-index: 99;
  display: none;
}

.full-background.active {
  display: block;
}

.loading-mover {
  background: url("../images/bg-circle.png") no-repeat 0/100%;
  width: 314px;
  height: 314px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -157px;
  margin-left: -157px;
  z-index: 99999;
  display: none;
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
       -o-transform: scale(0.6);
          transform: scale(0.6);
}

.loading-mover.active {
  display: block;
}

.loading-mover .img-circle {
  display: block;
  background: url("../images/wheel-i.png") no-repeat 0/100%;
  width: 321px;
  height: 451px;
  position: absolute;
  top: -67px;
  -webkit-animation: rotation 1.5s infinite linear;
}

.loading-mover .img-logo {
  display: block;
  background: url("../images/i-mover.png") no-repeat 0/100%;
  width: 246px;
  height: 83px;
  position: absolute;
  top: 50%;
  margin-top: -42px;
  left: 50%;
  margin-left: -123px;
  z-index: 999999;
}

.loading-mover .img-human {
  display: block;
  background: url("../images/i-human.png") no-repeat 0/100%;
  width: 178px;
  height: 187px;
  position: absolute;
  top: 50px;
  left: -50px;
  z-index: 99999;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
       animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
       animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
       animation-iteration-count: infinite;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
       animation-duration: 3s;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}

@-moz-keyframes pulse {
  from {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
         transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
         transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
         transform: scale3d(0.8, 0.8, 0.8);
  }
}

@-o-keyframes pulse {
  from {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
         transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
         transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
         transform: scale3d(0.8, 0.8, 0.8);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
    -o-animation-name: pulse;
       animation-name: pulse;
}

@-webkit-keyframes slideInDown-h {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@-moz-keyframes slideInDown-h {
  from {
    -webkit-transform: translate3d(0, -25%, 0);
    -moz-transform: translate3d(0, -25%, 0);
         transform: translate3d(0, -25%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -25%, 0);
    -moz-transform: translate3d(0, -25%, 0);
         transform: translate3d(0, -25%, 0);
  }
}

@-o-keyframes slideInDown-h {
  from {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes slideInDown-h {
  from {
    -webkit-transform: translate3d(0, -25%, 0);
    -moz-transform: translate3d(0, -25%, 0);
         transform: translate3d(0, -25%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -25%, 0);
    -moz-transform: translate3d(0, -25%, 0);
         transform: translate3d(0, -25%, 0);
  }
}

.slideInDown-h {
  -webkit-animation-name: slideInDown-h;
  -moz-animation-name: slideInDown-h;
    -o-animation-name: slideInDown-h;
       animation-name: slideInDown-h;
}
