img {
  max-width: 100%;
  height: auto;
}
.mover .wrapper-mover .box-sign.box-signin h2 {
  display: none;
}
.mover .wrapper-mover .box-sign.box-signup {
  max-width: 610px;
  margin: 3.6458333333vw auto 0;
  background-image: url(../images/bg_signup_not-title.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 2.5% 6em;
  padding-bottom: 14em;
  width: 100%;
  height: auto;
}
.mover .wrapper-mover .box-sign.box-signup h2 {
  text-align: center;
  display: block;
  margin-left: 1vw;
  margin-right: -1vw;
  margin-bottom: 0;
}
.mover .wrapper-mover .box-sign.box-signup h2 img {
  margin: 0 auto;
  display: block;
}
.mover .wrapper-mover .box-sign.box-signup .input-signup {
  font-size: 1.56rem;
  padding: 5% 6%;
  height: auto;
  width: 100%;
}
.mover .wrapper-mover .box-sign.box-signup .line-input {
  height: auto;
}
@media screen and (max-width: 768px) {
  .mover .wrapper-mover .box-sign.box-signin{
    max-width: 610px;
    margin: 3.6458333333vw auto 0;
    background-image: url(../images/bg_signup_not-title.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 5.5% 4em;
    padding-bottom: 10em;
    width: 100%;
    height: auto;
  }
  .mover .wrapper-mover .box-sign.box-signin h2 {
    margin-bottom: 5vw;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  
  .mover .wrapper-mover .box-sign.box-signup .btn-login {
    font-size: 2.3rem;
    padding-top: 0.5em;
    width: 43%;
    height: auto;
    margin-top: 0;
  }
  .mover .wrapper-mover .box-sign.box-signup .line-input .error {
    font-size: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .mover .wrapper-mover .box-sign.box-signup .box-confirm {
    font-size: 0.8rem;
    padding-left: 0;
  }
  .mover .wrapper-mover .box-sign.box-signup .box-confirm .checkmark {
    width: 2.5em;
    height: 2.5em;
  }
  .mover .wrapper-mover .box-sign.box-signup .box-confirm .checkmark:after {
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1.5em;
    height: 1.5em;
  }
  .mover .wrapper-mover .box-sign.box-signup .box-confirm .text-confirm {
    padding-left: 3em;
  }
  .mover .wrapper-mover .box-sign.box-signup .redirect-signup {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 767px) {
  .mover .wrapper-mover .box-sign.box-signup {
    padding: 4% 15%;
    padding-bottom: 12em;
  }
  .mover .wrapper-mover .box-sign.box-signup .line-input {
    height: auto;
  }
  .mover .wrapper-mover .box-sign.box-signup .line-input .error {
    text-align: left;
    padding: 5px 5%;
  }
  .mover .wrapper-mover .box-sign.box-signup .input-signup {
    width: 100%;
    border: none;
    padding: 7% 6%;
    color: #ffffff;
    font-size: 13px;
    height: auto;
    line-height: normal;
  }
  .mover .wrapper-mover .box-sign.box-signup .box-confirm {
    font-size: 0.7em;
  }
  .mover .wrapper-mover .box-sign.box-signup .box-confirm .checkmark {
    width: 2em;
    height: 2em;
    margin-top: -0.78em;
  }
  .mover .wrapper-mover .box-sign.box-signup .box-confirm .checkmark:after {
    left: 0.4em;
    top: 0.4em;
    width: 1.2em;
    height: 1.2em;
  }
  .mover .wrapper-mover .box-sign.box-signup .box-confirm .text-confirm {
    padding-left: 2.2em;
  }
  .popup-kichhoat {
    max-width: 610px;
    margin: 3.6458333333vw auto 0;
    background: url(../images/bg_kichhoat.png) no-repeat 0/100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 5.5% 4em;
    padding-bottom: 10em;
    width: 100%;
    height: auto;
}
}
@media only screen and (max-width: 767px) and (max-width: 543.5px) {
  .mover .wrapper-mover .box-sign.box-signup {
    padding-top: 13%;
  }
}
