.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years {
  background: url("../images/bg-bxh-year.png") no-repeat 0/100%;
  width: 24.235vw;
  position: absolute;
  left: 2.6vw;
  height: 3.05vw;
  margin-top: -1vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years ul{
  list-style: none;
  padding: 0px 0;
  text-align: center;
  line-height: 2.815vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years ul li{
  list-style: none;
  display: inline-block;
  width: 30%;
  text-align: center;
  font-size: 1.0416666667vw;
  font-weight: bold;
  color: #ffffff;

}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years ul li.active{
  background: url("../images/bg-bxh-year-active.png") no-repeat 0/100%;
  color: #fff;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .btn-prev {
  display: block;
  background: url("../images/btn-prev-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  bottom: 3.125vw;
  left: 3.6458333333vw;
  z-index: 4;
}

/*style 7d update*/
.wrapper-partlearn .main-score.featured {
  background: url("../images/book_featured.png") no-repeat 0/100%;
  width: 86.1979166667vw;
  height: 49.479167vw;
  margin: 0 8.3333333333vw 0 5.2083333333vw;
  padding: 2.6041666667vw 2.8645833333vw 0.385417vw 6.25vw;
}
.wrapper-partlearn .main-score .content-main.featured {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper-partlearn .main-score .content-main .box-full {
  text-align: center;
  font-family: 'Baloo Tammudu';
  width: 100%;
}

.wrapper-partlearn .main-score .content-main.featured .box-full .box-right{
  width: 100%;
}

.wrapper-partlearn .main-score .content-main.featured .box-full .box-item .lst-data-fill {
    width: 90%;
    margin: 0 auto;
    justify-content: center!important;
}
.wrapper-partlearn .main-score .content-main.featured .box-full .box-item .box-data-drag{
    width: 90%;
    margin: 10px auto;
    height: auto;
}

.wrapper-partlearn .main-score .content-main.featured .box-item.box-data-7 {
  padding-top: 1vw;
}

.wrapper-partlearn .main-score .content-main .box-item .box-data-drag .lst-cell.cell-10 .item-cell {
  border: 0.15625vw dashed #fff;
  width: 6.2895833333vw;
  height: 1.9229166667vw;
}

.wrapper-partlearn .main-score .content-main .box-item .box-audio{
  margin: 0.8229166667vw auto 1vw auto;
}

.wrapper-partlearn .main-score .content-main .box-item .lst-data-fill.data-10 .data-fill {
  margin: 0 10px;
  background: #fff!important;
  border: 0.15625vw dashed #f37c70;
  text-transform: uppercase;
}

.btn-primary02 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 18.591667vw;
  height: 3.350833vw;
  -webkit-border-radius: 1.5104166667vw;
  -moz-border-radius: 1.5104166667vw;
  border-radius: 1.5104166667vw;
  font-size: 1.25104166667vw;
  color: #ffffff;
  text-transform: uppercase;
  margin: 1.6666666667vw auto;
  padding-top: 0.28125vw;
  padding-left: 2.3vw;
  font-family: 'Baloo Tammudu';
  background: url("../images/bg-btn-primary.png") no-repeat top center;
  background-size: contain;
}
.btn-primary02::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 2.920833vw;
  width: 2.920833vw;
}
.ic-img {
  height: 2.9vw;
  width: 2.9vw;
  position: absolute;
  top: 0.125vw;
  left: 0.87vw;
}
.box-btn {
  text-align: center;
  margin-bottom: 0.25vw;
}

.popup-thachdau .box-years {
  background: url("../images/bg-bxh-year.png") no-repeat 0/100%;
  width: 34.635vw;
  height: 4.583vw;
  margin: 0.5vw auto;
}

.popup-thachdau .box-years ul{
  list-style: none;
  padding: 0px 0;
  text-align: center;
  line-height: 4.125vw;
}

.popup-thachdau .box-years ul li{
  list-style: none;
  display: inline-block;
  width: 30%;
  text-align: center;
  font-size: 1.563vw;
  font-weight: bold;
  color: #ffffff;

}
.popup-thachdau .box-years ul li.active{
  background: url("../images/bg-bxh-year-active.png") no-repeat 0/100%;
  color: #fff;
}


.popup-thachdau.active {
  top: 50%;
}
.popup-thachdau {
  background: url(../images/bg-thachdau.png) no-repeat 0/100%;
  width: 43.3020833333vw;
  height: 48.750vw;
  position: absolute;
  top: -100%;
  margin-top: -24.7395833333vw;
  left: 50%;
  margin-left: -20.625vw;
  z-index: 9999;
  padding: 19.125vw 4.6041666667vw 7.6041666667vw;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.popup-thachdau .btn-close {
  display: block;
  background: url("../images/btn-close.png") no-repeat 0/100%;
  width: 6.4166666667vw;
  height: 7.3645833333vw;
  position: absolute;
  right: 0;
  top: 12.2083333333vw;
}
.popup-thachdau .form-inner {
  display: flex;
  justify-content: space-between;
}
.note {
  text-align: center;
  color: #fff;
  font-size: 1vw;
}
.box-btn .btn-primary {
  background: url(../images/btn-login.png) no-repeat 0/100%;
  width: 9.829167vw;
  height: 2.4208333333vw;
  border: none;
  margin: 0.5208333333vw auto 0;
  color: #ffffff;
  font-family: 'Baloo Tammudu';
  font-size: 1.427083vw;
  text-transform: uppercase;
  padding-top: 0.5208333333vw;
  text-align: center;
}
.bg-input {
  position: relative;
}
.bg-input .input-td {
  background: url(../images/bg_input.png) no-repeat 0/100%;
  width: 35vw;
  height: 4.635vw;
  border: 0;
}
.txt-sdt {
  position: absolute;
  background: url(../images/bg_txt_sdt.png) no-repeat 0/100%;
  width: 10.104vw;
  height: 2.917vw;
  line-height: 2.917vw;
  text-align: center;
  border-radius: 1.4vw;
  color: #fff;
  font-size: 1.202vw;
  top: 50%;
  left: 1.5vw;
  margin-top: -1.4585vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt-sdt .ic-close {
  width: 1.3vw;
  height: 1.3vw;
  line-height: 1.3vw;
  border-radius: 50%;
  background: #000;
  text-align: center;
  display: inline-block;
  font-size: 0.92vw;
  margin-left: 10px;
}
.txt-sdt.num2 {
  left: 12.604vw;
}

/*update homepage*/
.box-lang {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url("../images/bg_lang.png") no-repeat 0/100%;
  width: 7.188vw;
  height: 3.698vw;
  margin-left: 1.18125vw;
  margin-top: 0.75vw;
  line-height: 3.698vw;
  text-align: center;
  justify-content: center;
  position: relative;
}

.box-lang a {
  color: #fff;
  display: inline-block;
  font-size: 1.25vw;
    font-family: 'Baloo Tammudu';
    padding-left: 1vw;
}

.box-lang .ic-lng {
  position: absolute;
  left: -1vw;
  top: 0;
  height: 3.698vw;
  width: 3.698vw;
}

.wrapper-mover {
  position: relative;
}
.wrapper-mover .box-lang-login{
  position: absolute;
  top: 2vw;
  right: 1.5vw;
}

.wrapper-mover .main-chondethi .top-chondethi .btn-video {
  display: block;
  background: url("../images/btn-chondethi-video.png") no-repeat 0/100%;
  width: 15.3854166667vw;
  height: 5.8854166667vw;
  margin-left: 15px;
  font-size: 1.315vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 5.8854166667vw;
  text-transform: uppercase;
}

.wrapper-mover .main-chondethi .top-chondethi .title {
  font-family: 'Baloo Tammudu';
    position: absolute;
    width: 32.604vw;
    height: 10.260vw;
    /*top: 2.8645833333vw;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.wrapper-mover .main-chondethi .top-chondethi .title span {
  text-transform: uppercase;
    font-size: 4.625vw;
    -webkit-text-stroke: 3.5px #e6e2e2;
    text-shadow: 0px -2px 2px rgb(0 0 0 / 20%), 0 4px 2px rgb(0 0 0 / 20%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#8d1212), to(#ff0000)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(bottom, #8d1212, #ff0000), -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz- oldlinear-gradient(bottom, #8d1212, #ff0000), -moz- oldlinear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(bottom, #8d1212, #ff0000), -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to top, #8d1212, #ff0000), linear-gradient(to bottom, #fff, #fff);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    letter-spacing: -2px;
    line-height: 1.2;
    height: 2.6041666667vw;
    margin-top: 4.025vw;
    width: 100%;
    text-align: center;
}
.st-title {
  background: url(../images/title-chondethi.png) no-repeat 0/100%;
  width: 32.6041666667vw;
  height: 10.2604166667vw;
  position: absolute;
  top: 1.0416666667vw;
  left: 50%;
  margin-left: -16.3020833333vw;
  font-family: 'Baloo Tammudu';
    position: absolute;
    width: 32.604vw;
    height: 10.260vw;
    /*top: 2.8645833333vw;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.st-title span {
  text-transform: uppercase;
    font-size: 4.625vw;
    -webkit-text-stroke: 3.5px #e6e2e2;
    text-shadow: 0px -2px 2px rgb(0 0 0 / 20%), 0 4px 2px rgb(0 0 0 / 20%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#8d1212), to(#ff0000)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(bottom, #8d1212, #ff0000), -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz- oldlinear-gradient(bottom, #8d1212, #ff0000), -moz- oldlinear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(bottom, #8d1212, #ff0000), -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to top, #8d1212, #ff0000), linear-gradient(to bottom, #fff, #fff);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    letter-spacing: -2px;
    line-height: 1.2;
    height: 2.6041666667vw;
    margin-top: 4.025vw;
    width: 100%;
    text-align: center;
}

.wrapper-mover .main-chondethi .top-chondethi .btn-trove,
.wrapper-mover .main-speaking .top-speaking .btn-trove {
  font-size: 1.215vw;
  font-weight: bold;
  text-align: center;
  width: 8.3854166667vw;
  height: 5.8854166667vw;
  line-height: 5.8854166667vw;
  color: #fff;
  text-transform: uppercase;

}
.btn-chonngaunhien {
  display: block;
  background: url("../images/btn-chondethi-video.png") no-repeat 0/100%;
  width: 15.3854166667vw;
  height: 5.8854166667vw;
  margin-left: 15px;
  font-size: 1.315vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 5.8854166667vw;
  text-transform: uppercase;
}

/*// style part11*/

.txt-desctipt02.fullwidth {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  margin-bottom: -55px;
  margin-bottom: -45px;
  font-size: 1.1541666667vw;
}
.txt-desctipt02.aligntop {
  margin-top: -55px;
  text-transform: none;
}

.txt-desctipt02 {
  border: 0.1041666667vw solid transparent;
  -webkit-background-clip: padding-box, border-box;
  -moz-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  -webkit-background-origin: padding-box, border-box;
  -moz-background-origin: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efeef0), to(#efeef0)), -webkit-gradient(linear, left top, left bottom, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(#efeef0, #efeef0), -webkit-linear-gradient(#f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(#efeef0, #efeef0), -moz- oldlinear-gradient(#f3a770, #f37b70);
  background-image: -o-linear-gradient(#efeef0, #efeef0), -o-linear-gradient(#f3a770, #f37b70);
  background-image: linear-gradient(#efeef0, #efeef0), linear-gradient(#f3a770, #f37b70);
  -webkit-border-radius: 1.8229166667vw;
  -moz-border-radius: 1.8229166667vw;
  border-radius: 1.8229166667vw;
  width: 32.5vw;
  margin: 0 auto;
  padding: 0.78125vw 1.3020833333vw 0.2604166667vw;
  color: #000000;
  font-size: 1.3541666667vw;
  text-transform: uppercase;
  font-family: "Baloo Tammudu";
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: -44px;
  position: relative;
  margin-top: 12px;
  margin-right: 12px;
}
.txt-desctipt02 .scrollbar {
  padding: 5px;
  height: auto;
  max-height: 15vw;
  text-align: left;
}
.txt-desctipt02.fullwidth .scrollbar {
  padding: 5px;
  height: auto;
  max-height: 17vw;
  text-align: left;
}

.box-audio.margin-right {
  margin-top: 0!important;
  margin-right: 12px!important;
}
.box-audio.featured .subtitle {
  color: #fff;
  font-size: 10px;
  height: 18px;
  line-height: 22px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f37b70), to(#f3a770));
  background-image: -webkit-linear-gradient(left, #f37b70, #f3a770);
  background-image: -moz- oldlinear-gradient(left, #f37b70, #f3a770);
  background-image: -o-linear-gradient(left, #f37b70, #f3a770);
  background-image: linear-gradient(to right, #f37b70, #f3a770);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  padding: 0 10px;
  border-radius: 9px;
  text-transform: uppercase;
}

.box-audio.featured .audio-quiz {
  left: 2px;
  right: auto!important;
  width: 87%!important;
}
.btn-close02 {
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 40px;
  height: 40px;
  z-index: 999;
  background: url("../images/btn-close.png") no-repeat 0/100%;
}


/*update title popup*/

.st-popup {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.popup-thongbao2 {
  background: url("../images/bg_kichhoat.png") no-repeat 0/100%!important;
  width: 32.7083333333vw;
  height: 27.7083333333vw;
  position: absolute;
  top: -100%;
  margin-top: -13.8541666667vw;
  left: 50%;
  margin-left: -16.3541666667vw;
  z-index: 9999;
  padding: 8.8541666667vw 2.8645833333vw 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.popup-thongbao1 {
  background: url("../images/bg-thongbao1.png") no-repeat 0/100%!important;
}

.popup-addaccount {
  background: url("../images/bg-addaccounten.png") no-repeat 0/100%!important; 
}


.popup-thongbaopd {
  background: url("../images/bg_phadao.png") no-repeat 0/100%!important;
  width: 29.823vw;
  height: 49.0104166667vw;
  position: absolute;
  top: -100%;
  margin-top: -25.8541666667vw;
  left: 50%;
  margin-left: -16.3541666667vw;
  z-index: 9999;
  padding: 8.8541666667vw 2.8645833333vw 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
}

.popup-thongbaopd .box-featured {
  max-width: 77%;
  margin: 4vw auto 1vw auto;
}
.popup-thongbaopd .box-pd-text {
  max-width: 80%;
  margin: 0 auto 2vw auto;
}
.popup-thongbaopd .btn-phadao {
  background: url("../images/btn-pd.png") no-repeat 0/100%;
  width: 15.625vw;
  height: 3.333vw;
  border: none;
  margin: 3vw auto;
  color: #ffffff;
  font-family: 'Baloo Tammudu';
  font-size: 1.458vw;
  text-transform: uppercase;
  text-align: center;
  padding: 0.6808333333vw 1vw 0vw 1vw;
}

.popup-thongbaopd .box-featured img {
  max-width: 100%;
}

.popup-thongbaopd.active {
  top: 50%;
}

.popup-thongbaopd .btn-close {
  display: block;
  background: url("../images/btn-close.png") no-repeat 0/100%;
  width: 4.688vw;
  height: 4.688vw;
  position: absolute;
  right: 0;
  top: 5.2083333333vw;
}