.bibo-product-rating__avatar .bibo-avatar {
  border: 0;
  width: 2.5em;
  height: 2.5em;
  position: relative;
}
.bibo-avatar__img, .bibo-avatar__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.bibo-avatar__img {
    border-radius: 50%;
}
.bibo-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
.rating-tips-icon {
  position: relative;
  display: inline-block;
}
.rating-tips-icon .rating-tips-popup {
  position: absolute;
  left: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  margin-left: 1.875em;
  padding: 1.25em;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  z-index: 1;
  border-radius: 0.1875em;
  margin-top: -0.8125em;
}
.rating-tips-icon .rating-tips--body {
  background: #f5f5f5;
  padding: 0.75em;
  margin-bottom: 0.75em;
  margin-top: 1em;
}
.rating-tips-icon .rating-tips--title {
  font-size: 1em;
  font-weight: 500;
}
.rating-tips-icon .rating-tips--desc {
  width: 17.5em;
}
.rating-tips-icon .rating-angle {
  position: absolute;
  left: -0.75em;
  top: 50%;
  border-color: transparent;
  border-right: 0.75em solid #fff;
  border-top: 0.75em solid transparent;
  border-bottom: 0.75em solid transparent;
  margin-top: -0.375em;
}
.rating-tips-icon .bibo-product-rating__author-name-tips {
  margin-bottom: 0.5em;
}
.rating-tips-icon .bibo-product-rating__userInfoTips {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75em;
}
.rating-tips-icon .bibo-avatar {
  width: 1.5em !important;
  height: 1.5em !important;
}
.rating-tips-icon .bibo-product-rating__avatar {
  width: auto;
}
.rating-tips-icon .bibo-product-rating__tips {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.8125em;
  cursor: pointer;
}
.rating-tips-icon .bibo-product-rating__tipsText {
  margin-right: 0.5em;
  color: #ee4d2d;
}
.rating-tips-icon .rating-tips-iconContent {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.GchQNZ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.625em;
}
.GchQNZ:last-child {
  margin-bottom: 0;
}
._2PXRq8,
._3fQzg5 {
  margin-right: 1.25em;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.65);
}
._3fQzg5 {
  line-height: 0.875em;
  text-align: left;
}
.DM-DZy {
  padding: 1.375em 1.875em 0;
  width: 27.0625em;
}
._1Ubs_P {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
._2KUiG7 {
  height: 2em;
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 0.625em;
}
._2KUiG7,
.xTMXEE {
  background-color: #fff;
}
.xTMXEE {
  list-style: none;
  padding: 0;
  margin: 0;
}
._2srr8h {
  font-size: 0.875em;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.87);
  padding: 1em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._3eIK8Q {
  padding-right: 0.75em;
}
._38PFr7 {
  position: relative;
  width: 100%;
  top: -0.25em;
  background-color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
._38PFr7 input {
  margin-bottom: 0.75em;
  border: 0.5px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.125em;
  padding: 0.75em;
  width: 90%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
._38PFr7 input:active,
._38PFr7 input:focus {
  outline: none;
}
._3l4bGh {
  background: #fff9f9;
  border: 1px solid rgba(255, 66, 79, 0.2);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0.625em 0.9375em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vZ43Tp {
  margin-right: 0.325em;
}
.bibo-rating-media-list-image__content,
.bibo-rating-media-list-image__wrapper {
  width: 100%;
  height: 100%;
}
.bibo-rating-media-list-image__wrapper {
  position: relative;
}
.bibo-rating-media-list-image__content {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.bibo-rating-media-list-image__content--blur {
  width: 100%;
  height: 100%;
}
.bibo-rating-media-list-image__place-holder {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fafafa;
}
.bibo-rating-media-list-image__place-holder .icon-loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  stroke: #c6c6c6;
}
.rating-media-list-carousel-arrow {
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -25px;
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
}
.rating-media-list-carousel-arrow > .bibo-svg-icon {
  -webkit-transition: width 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  transition: width 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  color: rgba(0, 0, 0, 0.54);
  fill: rgba(0, 0, 0, 0.54);
}
.rating-media-list-carousel-arrow--prev {
  left: 0;
}
.rating-media-list-carousel-arrow--next {
  right: 0;
}
.rating-media-list-carousel-arrow--hint {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-top: -12.5px;
  background-color: #fff;
}
.rating-media-list-carousel-arrow--hint > .bibo-svg-icon {
  height: 0.625em;
  width: 0.625em;
  color: rgba(0, 0, 0, 0.54);
  fill: currentColor;
}
.rating-media-list-image-carousel {
  width: 100%;
  height: 100%;
  position: relative;
}
.rating-media-list-image-carousel__item-list-wrapper {
  height: 100%;
  overflow: hidden;
}
.rating-media-list-image-carousel__item-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}
.rating-media-list-image-carousel__item {
  height: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  overflow-x: hidden;
  list-style: none;
  float: left;
}
.rating-media-list-image-carousel__item--fluid {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow-x: visible;
}
.rating-media-list-image-carousel__item > div {
  height: 100%;
}
.rating-media-list-image-carousel__item a,
.rating-media-list-image-carousel__item img {
  -webkit-user-drag: none;
}
.rating-media-list-image-carousel__dots {
  position: absolute;
  bottom: 1.25em;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.rating-media-list-image-carousel__dots--hidden {
  opacity: 0;
  pointer-events: none;
}
.rating-media-list-image-carousel__dot {
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
}
.rating-media-list-image-carousel__dot:not(:first-child) {
  margin-left: 0.3125em;
}
.rating-media-list-image-carousel__dot--active {
  opacity: 1;
  background-color: #ee4d2d;
}
.rating-media-list-image-carousel__arrow {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 2.1875em;
  height: 3.75em;
  line-height: 3.75em;
  font-size: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  fill: #fff;
  background-color: rgba(0, 0, 0, 0.18);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1),
    opacity 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1),
    opacity 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
.rating-media-list-image-carousel__arrow:hover {
  background-color: rgba(0, 0, 0, 0.32);
}
.rating-media-list-image-carousel__arrow--prev {
  left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.rating-media-list-image-carousel__arrow--next {
  right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
._43iTyw {
  position: relative;
}
._12mVqG {
  width: 100%;
  height: 100%;
  background: #000;
  outline: none;
  cursor: pointer;
}
._1CDHoM,
.oTwz8X {
  position: absolute;
  width: 6.25em;
  height: 6.25em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-3.125em, -3.125em, 0);
  transform: translate3d(-3.125em, -3.125em, 0);
  pointer-events: none;
}
.rating-media-list__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.rating-media-list__image-wrapper {
  width: 4.5em;
  height: 4.5em;
  margin: 0 0.625em 0.625em 0;
  position: relative;
}
.rating-media-list__image-wrapper--inactive {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.rating-media-list__image-wrapper--active {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
  border: 2px solid #ee4d2d;
  padding: 2px;
}
.rating-media-list__video-cover {
  position: absolute;
  height: 1.25em;
  line-height: 1.25em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.54);
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.75em;
}
.rating-media-list__zoomed-image {
  width: 100%;
  height: 100%;
  max-width: 32.25em;
  max-height: 31.25em;
  display: none;
  margin-left: -0.6em;
}
.rating-media-list__zoomed-image--active {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rating-media-list__zoomed-image-item,
.rating-media-list__zoomed-video-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 32.25em;
  max-height: 31.25em;
}
.rating-media-list__zoomed-video-item {
  width: 32.25em;
  height: 31.25em;
}
.bibo-product-rating {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0 1em 1.25em;
}
.bibo-product-rating:first-child {
  padding-top: 0;
}
.bibo-product-rating__avatar {
  width: 2.5em;
  margin-right: 0.625em;
  text-align: center;
}
.bibo-product-rating__avatar .bibo-avatar {
  border: 0;
  width: 2.5em;
  height: 2.5em;
}
.bibo-product-rating__main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.bibo-product-rating__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 16px;
}
.bibo-product-rating__button--reply {
  height: 2em;
  line-height: 2em;
  width: 3.9375em;
  text-align: center;
  border: 0.5px solid #ee4d2d;
  color: #ee4d2d;
}
.bibo-product-rating__button--reply:hover {
  background: #ee4d2d;
  color: #fff;
}
.bibo-product-rating__author-name {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.75em;
}
.bibo-product-rating__rating {
  margin-top: 0.375em;
}
.bibo-product-rating__rating .icon-rating-solid {
  margin-right: 0.125em;
  color: #ee4d2d;
  width: 18px;
  height: 18px;
}
.theme--ofs .bibo-product-rating__rating .icon-rating-solid {
  color: #d0011b;
}
.theme--s-mart .bibo-product-rating__rating .icon-rating-solid {
  color: #ffce3d;
}
.bibo-product-rating__rating .icon-rating {
  color: #ee4d2d;
  margin-right: 0.125em;
  stroke: currentColor;
}
.theme--ofs .bibo-product-rating__rating .icon-rating {
  color: #d0011b;
}
.theme--s-mart .bibo-product-rating__rating .icon-rating {
  color: #ffce3d;
}
.bibo-product-rating__content {
  margin-top: 0.875em;
  margin-bottom: 0.875em;
}
.bibo-product-rating__image-list-wrapper {
  margin-top: 0.9375em;
}
.bibo-product-rating__image-list-wrapper
  .image-list-inline-zoom__image-wrapper,
.bibo-product-rating__image-list-wrapper .bibo-image-list__image-wrapper {
  width: 4.5em;
  height: 4.5em;
}
.bibo-product-rating__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.bibo-product-rating__tag {
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.9375em;
  padding: 0.25em 0.625em;
  cursor: default;
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 100%;
  margin-bottom: 0.3125em;
}
.bibo-product-rating__tag:not(:last-child) {
  margin-right: 0.625em;
}
.bibo-product-rating__image {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 6.25em;
  height: 6.25em;
  margin-right: 0.625em;
  position: relative;
}
.bibo-product-rating__image:hover .product-comment-item__image-preview {
  display: block;
}
.bibo-product-rating__image-thumbnail {
  position: absolute;
  width: 6.25em;
  height: 6.25em;
}
.bibo-product-rating__image-preview {
  display: none;
  background-color: #fff;
  padding: 0.3125em;
  border: 1px solid rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 6.25em;
  line-height: 1;
  z-index: 1;
}
.bibo-product-rating__image-preview__picture {
  width: 18.125em;
  border: 1px solid rgba(0, 0, 0, 0.26);
}
.bibo-product-rating__image-preview__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  width: 1.875em;
  height: 1.875em;
  line-height: 1.875em;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}
.bibo-product-rating__image-preview__link svg {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1em;
}
.bibo-product-rating__time {
  margin-top: 0.75em;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.54);
}
.bibo-product-rating__actions {
  margin-top: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
}
.bibo-product-rating__like-button {
  margin-right: 0.625em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}
.bibo-product-rating__like-button svg {
  fill: currentColor;
}
.bibo-product-rating__like-button--liked {
  color: #ee4d2d;
}
.bibo-product-rating__like-count {
  text-transform: capitalize;
}
.bibo-product-rating__report-menu-button {
  margin-left: auto;
  cursor: pointer;
}
.bibo-product-rating__report-menu-button .stardust-dropdown__item-body {
  overflow: visible;
  right: 0;
  position: absolute;
  background: #fff;
  z-index: 1;
  display: none;
}
.bibo-product-rating__report-menu-button .stardust-dropdown__item-body--open {
  display: block;
}
.bibo-product-rating__report-menu-dropdown {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0.75em 1.625em;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
  white-space: nowrap;
}
.bibo-product-rating__report-success-toast {
  padding: 0.875em 1em;
  border-radius: 2px;
  border: 1px solid rgba(87, 172, 3, 0.3);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  background: #fafdf7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
.bibo-product-rating__report-error-toast {
  background: #fff9f9;
  border: 1px solid rgba(255, 66, 79, 0.2);
}
.bibo-product-rating__report-success-icon {
  color: #6c0;
  border: 1px solid #6c0;
  border-radius: 0.625em;
  width: 1em;
  height: 1em;
}
.bibo-product-rating__report-error-icon,
.bibo-product-rating__report-success-icon {
  font-size: 0.625em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.5em;
}
.bibo-product-rating__variation {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
}
.theme--ofs .bibo-product-rating__like-button--liked {
  fill: #d0011b;
}
.product-rating-overview {
  background-color: #fffbf8;
  min-height: 5em;
  border: 1px solid #f9ede5;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.875em;
}
.theme--s-mart .product-rating-overview {
  background-color: #e6f0f9;
}
.product-rating-overview__briefing {
  text-align: center;
  margin-right: 1.875em;
}
.product-rating-overview__score-wrapper {
  color: #ee4d2d;
  font-size: 1.125em;
}
.theme--ofs .product-rating-overview__score-wrapper {
  color: #d0011b;
}
.theme--s-mart .product-rating-overview__score-wrapper {
  color: rgba(0, 0, 0, 0.87);
}
.product-rating-overview__score-wrapper .bibo-svg-icon {
  font-size: 1.25em;
}
.product-rating-overview__score-wrapper .bibo-rating-stars__star-wrapper {
  margin-right: 0.25em;
}
.product-rating-overview__rating-score {
  font-size: 1.875em;
}
.product-rating-overview__stars {
  font-size: 1.25em;
  margin-top: 0.625em;
}
.product-rating-overview__text-overview {
  margin-top: 0.75em;
  font-size: 1em;
  color: #ee4d2d;
}
.product-rating-overview__filters {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0.9375em;
}
.product-rating-overview__filter {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 2em;
  line-height: 2em;
  min-width: 6.25em;
  text-align: center;
  padding: 0 0.625em;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0.5em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
  border-radius: 2px;
  margin-bottom: 0.3125em;
  margin-top: 0.3125em;
}
.product-rating-overview__filter--active {
  border-color: #ee4d2d;
  border-color: var(--brand-primary-color, #ee4d2d);
  fill: #ee4d2d;
  fill: var(--brand-primary-color, #ee4d2d);
  color: #ee4d2d;
  color: var(--brand-primary-color, #ee4d2d);
}
.product-ratings {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.125em;
  overflow: hidden;
  background: #fff;
  margin-top: 0.9375em;
  padding: 1.5625em;
  overflow: visible;
}
.product-ratings__header {
  font-size: 1.125em;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 1em;
  text-transform: capitalize;
}
.product-ratings__page-controller {
  margin-top: 1.25em;
  text-align: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.product-ratings__page-controller .bibo-button-solid,
.product-ratings__page-controller .bibo-icon-button {
  margin: 0 0.75em;
}
.product-ratings__page-controller .bibo-button-no-outline,
.product-ratings__page-controller .bibo-button-solid {
  height: 1.5em;
  min-width: 1.5em;
  font-size: 1em;
}
.product-ratings__page-controller .bibo-button-solid {
  background-color: #ee4d2d !important;
  background-color: var(--brand-primary-color, #ee4d2d) !important;
}
.product-ratings__page-controller .bibo-icon-button {
  border: 1px solid rgba(0, 0, 0, 0.09);
  font-size: 0.625em;
  min-width: 1.5em;
  height: 1.5em;
}
.product-ratings__page-controller .bibo-button-no-outline {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}
.product-ratings-comments-view__no-data {
  height: 25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product-ratings-comments-view__no-data__icon {
  width: 6.25em;
  height: 5.625em;
  background-size: contain;
  background-repeat: no-repeat;
}
.product-ratings-comments-view__no-data__text {
  margin-top: 1.25em;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}


.bibo-rating-stars {
  position: relative;
  display: inline-block;
}
.bibo-rating-stars__stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.bibo-rating-stars__star-wrapper {
  position: relative;
  margin-right: 1px;
}
.bibo-rating-stars__star-wrapper > .bibo-rating-stars__lit {
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.bibo-rating-stars__gold-star {
  color: #ffce3d;
  fill: #ffce3d;
  display: block;
  position: absolute;
  left: 0;
  overflow-x: hidden;
}
.bibo-rating-stars__dark-star {
  color: #d5d5d5;
  display: block;
}
.bibo-rating-stars__primary-star {
  color: #ee4d2d;
  stroke: #ee4d2d;
  display: block;
  position: absolute;
  left: 0;
  overflow-x: hidden;
}
.theme--ofs .bibo-rating-stars__primary-star {
  color: #d0011b;
  stroke: #d0011b;
}
.theme--s-mart .bibo-rating-stars__primary-star {
  color: #ffce3d;
  stroke: #ffce3d;
}
.bibo-rating-stars__hollow-star {
  color: #ee4d2d;
  display: block;
  stroke: currentColor;
}
.theme--s-mart .bibo-rating-stars__hollow-star {
  color: #ffce3d;
  stroke: #ffce3d;
}
.bibo-button-no-outline {
    padding: .3125em .4375em;
    color: rgba(0,0,0,.8);
    background-color: transparent;
    border: none;
}

.theme--ofs .btn-buynow:active, .theme--ofs .bibo-button-solid--primary:active {
    background-color: #c30018;
}
.product-ratings__page-controller .bibo-button-solid {
    background-color: #ee4d2d!important;
    background-color: #e00622!important;
    color: #fff;
    border-radius: 3px!important;
    border: 0;
}

/*style box reply*/
.box_answer {
  margin-top: .75em;
  background-color: #f5f5f5;
  padding: .875em .75em;
  position: relative;
}

.ans_title {
    color: #8b572a;
    font-size: .875em;
    text-transform: capitalize;
}

.ans_content {
    color: rgba(0,0,0,.87);
    white-space: pre-wrap;
    margin-top: .625em;
    word-break: break-word;
}

.box-desc-inner {
  position: relative;
    overflow: hidden;
    height: 500px;
}

.box-desc-inne .gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.fullcontent {
  height: auto;
  overflow: visible;
}
.text-center {
  text-align: center;
  display: block;
}
@media (max-width: 767px) {
  .product-rating-overview {
    flex-direction: column;
    padding: 0.5em;
  }
  .product-rating-overview__briefing {
    width: 100%;
  }
  .product-rating-overview__filters {
    width: 100%;
    margin: 0;
  }
  .product-rating-overview__filter {
    height: 2em;
    line-height: 2em;
    min-width: 6.25em;
    text-align: center;
    padding: 0 0.325em;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0.25em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
    border-radius: 2px;
    margin-bottom: 0.3125em;
    margin-top: 0.3125em;
    font-size: 14px;
}
}

#btn-more {
  margin: 20px auto;
}