.wrapper-mover {
  position: relative;
}

.wrapper-mover .home-wrapper .box-right-main .top-home .btn-back-arr {
  display: block;
  background: url("../images/arrow-bxh.png") no-repeat 0/100%;
  width: 5.4166666667vw;
  height: 5.625vw;
  margin-right: 0.5208333333vw;
}

.wrapper-mover .home-wrapper .box-right-main .top-home .box-right-control .box-xephang {
  position: relative;
}

.wrapper-mover .home-wrapper .box-right-main .top-home .box-right-control .btn-baocao {
  display: inline-block;
  background: url("../images/btnbaocao.png") no-repeat 0/100%;
  width: 13.4895833333vw;
  height: 6.3541666667vw;
  color: #ffffff;
  font-size: 1.25vw;
  font-family: 'Baloo Tammudu';
  padding: 1.5625vw 0 0 5.2083333333vw;
  text-transform: uppercase;
  margin-left: 1.0416666667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh {
  background: url("../images/bg-bxh.png") no-repeat 0/100%;
  width: 29.4791666667vw;
  height: 48.8541666667vw;
  padding: 10.15625vw 6.25vw;
  position: relative;
}



.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .btn-next {
  display: block;
  background: url("../images/btn-next-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  bottom: 3.125vw;
  right: 3.6458333333vw;
  z-index: 4;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-page {
  background: url("../images/bg-diem-bxh.png") no-repeat 0/100%;
  width: 8.3333333333vw;
  height: 7.7604166667vw;
  position: absolute;
  bottom: 2.0833333333vw;
  left: 10.4166666667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 1.4583333333vw;
  font-family: 'Baloo Tammudu';
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          margin-top: 2.5vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .number {
  font-size: 2.6041666667vw;
  color: #6b3801;
  font-family: 'Baloo Tammudu';
  margin-top: 1.3020833333vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info {
  background: url("../images/box-bxh.png") no-repeat 0/100%;
  width: 16.7708333333vw;
  height: 5.3645833333vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info .avatar {
  width: 3.4895833333vw;
  height: 3.4895833333vw;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  margin: 0.6770833333vw 0.78125vw 0 1.6666666667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info .avatar img {
  width: 100%;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info .info-user {
  width: 8.8541666667vw;
  padding-top: 0.8854166667vw;
  font-size: 1.0416666667vw;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .title-lst-bxh {
  margin-bottom: 0.2604166667vw;
  position: absolute;
  top: 6.275625vw;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.65rem;
  font-weight: 500;
  font-family: 'Baloo Tammudu';
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info .info-user p {
  margin-bottom: 0.2604166667vw;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  position: relative;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item {
  position: absolute;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info {
  background: url("../images/boxx-top-bxh.png") no-repeat 0/100%;
  width: 15.9375vw;
  height: 9.21875vw;
  position: absolute;
  z-index: 3;
  padding: 2.03125vw 0 0 0;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info .avatar {
  width: 3.4895833333vw;
  height: 3.4895833333vw;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  margin: 0.6770833333vw 0.78125vw 0 1.40625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info .avatar img {
  width: 100%;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info .info-user {
  width: 8.8541666667vw;
  padding-top: 0.8854166667vw;
  font-size: 1.0416666667vw;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info .info-user p {
  margin-bottom: 0.2604166667vw;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .number {
  font-size: 18.59375vw;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  font-family: 'Baloo Tammudu';
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 {
  top: 0.2604166667vw;
  right: 1.8229166667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh1.png") no-repeat 0/100%;
  width: 18.28125vw;
  height: 19.7395833333vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 .number {
  top: -2.6041666667vw;
  left: -2.6041666667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 {
  top: 14.5833333333vw;
  left: 1.3020833333vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh2.png") no-repeat 0/100%;
  width: 16.0416666667vw;
  height: 16.09375vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 .number {
  top: -7.8125vw;
  left: -2.6041666667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 {
  top: 26.0416666667vw;
  right: 1.8229166667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh3.png") no-repeat 0/100%;
  width: 18.9583333333vw;
  height: 15.5208333333vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 .number {
  top: -7.2916666667vw;
  right: 0.2604166667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .main-chondethi {
  width: 100%;
  min-height: 100vh;
  padding: 0 2.0833333333vw;
}

.wrapper-mover .main-chondethi .top-chondethi {
  padding-top: 3.125vw;
}

.wrapper-mover .main-chondethi .top-chondethi .btn-trove {
  display: block;
  background: url("../images/btn-trove.png") no-repeat 0/100%;
  width: 8.3854166667vw;
  height: 5.8854166667vw;
}

.box-buttons__right,
.box-buttons__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-mover .main-chondethi .top-chondethi .btn-upgrade {
  display: block;
  background: url("../images/btn-upgrade-pro.png") no-repeat 0/100%;
  width: 11.3854166667vw;
  height: 5.8854166667vw;
  margin-right: 15px;
  margin-bottom: 7px;
}

.wrapper-mover .main-chondethi .top-chondethi .btn-upgrade-pro {
  display: block;
  background: url("../images/ic-upgrade.png") no-repeat 0/100%;
  width: 11.3854166667vw;
  height: 5.8854166667vw;
  margin-right: 15px;
  margin-bottom: 7px;
}

.wrapper-mover .main-chondethi .top-chondethi .btn-video {
  display: block;
  background: url("../images/btn-chondethi-video.png") no-repeat 0/100%;
  width: 15.3854166667vw;
  height: 5.8854166667vw;
  margin-left: 15px;
}

.wrapper-mover .main-chondethi .top-chondethi .title {
  display: block;
  background: url("../images/title-chondethi.png") no-repeat 0/100%;
  width: 32.6041666667vw;
  height: 10.2604166667vw;
  position: absolute;
  top: 1.0416666667vw;
  left: 50%;
  margin-left: -16.3020833333vw;
}


.wrapper-mover .main-chondethi .lst-question-exam {
  padding-top: 2.6041666667vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-mover .main-chondethi .lst-question-exam .item-exam {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/bg-chondethi.png") no-repeat 0/100%;
  width: 26.3541666667vw;
  height: 17.3958333333vw;
  padding: 10.9375vw 2.0833333333vw 2.0833333333vw 2.6041666667vw;
  color: #ffffff;
  margin: 0 2.34375vw;
  position: relative;
  z-index: 1;
}
.wrapper-mover .main-chondethi .lst-question-exam .ic-pro.item-exam::before {
  position: absolute;
  content: "";
  z-index: 2;
  right: 0.2vw;
  top: 9.7vw;
  width: 5vw;
  height: 5.3vw;
  background: url(../images/ic_pro.png) top left no-repeat;
  background-size: cover;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
}

.wrapper-mover .main-chondethi .lst-question-exam .item-exam .number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.2395833333vw;
  width: 3.125vw;
  height: 2.6041666667vw;
  margin-right: 1.8229166667vw;
  font-family: 'Baloo Tammudu';
}

.wrapper-mover .main-chondethi .lst-question-exam .item-exam p {
  font-size: 1.09375vw;
  width: 17.7083333333vw;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2.6041666667vw;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-mover .main-chondethi .box-control-exam {
  background: url("../images/bg-control-exam.png") no-repeat 0/100%;
  width: 26.875vw;
  height: 8.5416666667vw;
  margin: 2.6041666667vw auto;
  position: relative;
}

.wrapper-mover .main-chondethi .box-control-exam .btn-prev {
  display: block;
  background: url("../images/btn-prev-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  left: 2.0833333333vw;
  bottom: 3.125vw;
}

.wrapper-mover .main-chondethi .box-control-exam .btn-next {
  display: block;
  background: url("../images/btn-next-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  right: 2.0833333333vw;
  bottom: 3.125vw;
}

.wrapper-mover .main-chondethi .box-control-exam .paging {
  background: url("../images/bg-diem-bxh.png") no-repeat 0/100%;
  width: 8.3333333333vw;
  height: 7.7604166667vw;
  position: absolute;
  bottom: 2.0833333333vw;
  left: 9.375vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 1.4583333333vw;
  font-family: 'Baloo Tammudu';
}

/* speaking listing */
.wrapper-mover .main-speaking {
  width: 100%;
  min-height: 100vh;
  padding: 0 2.0833333333vw;
}

.wrapper-mover .main-speaking .top-speaking {
  padding-top: 3.125vw;
}

.wrapper-mover .main-speaking .top-speaking .btn-trove {
  display: block;
  background: url("../images/btn-trove.png") no-repeat 0/100%;
  width: 8.3854166667vw;
  height: 5.8854166667vw;
}

.wrapper-mover .main-speaking .top-speaking .title {
  display: block;
  background: url("../images/logo-speaking.png") no-repeat 0/100%;
  width: 32.6041666667vw;
  height: 10.2604166667vw;
  position: absolute;
  top: 1.0416666667vw;
  left: 50%;
  margin-left: -16.3020833333vw;
}


.wrapper-mover .main-speaking .lst-question-exam {
  padding-top: 2.6041666667vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper-mover .main-speaking .lst-question-exam .item-exam {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url("../images/bg-speaking-item.png") no-repeat 0/100%;
  width: 26.3541666667vw;
  height: 20.3958333333vw;
  padding: 12.2375vw 2.083333vw 4.083333vw 2.004167vw;
  color: #ffffff;
  margin: 0 2.34375vw;
}

.wrapper-mover .main-speaking .lst-question-exam .item-exam .avatar {
  background: url("../images/avata-speaking-item.png") no-repeat 0/100%;
  width: 4vw;
  height: 4vw;
  margin-right: 2vw;
}

.wrapper-mover .main-speaking .lst-question-exam .item-exam img {
  position: absolute;
  top: 1.6vw;
  left: 4.68vw;
  width: 16.9vw;
  height: 9.61vw;
}

.wrapper-mover .main-speaking .lst-question-exam .item-exam .checked {
  background: url("../images/icon-speaking-checked.png") no-repeat 0/100%;
  position: absolute;
  top: -1vw;
  right: 2vw;
  width: 4vw;
  height: 4vw;
  z-index: 1;
}

.wrapper-mover .main-speaking .lst-question-exam .item-exam p {
  padding: 2vw 0;
  font-size: 1.09375vw;
  width: 17.7083333333vw;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2.6041666667vw;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper-mover .main-speaking .box-control-exam {
  background: url("../images/bg-control-exam.png") no-repeat 0/100%;
  width: 26.875vw;
  height: 8.5416666667vw;
  margin: 2.6041666667vw auto;
  position: relative;
}

.wrapper-mover .main-speaking .box-control-exam .btn-prev {
  display: block;
  background: url("../images/btn-prev-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  left: 2.0833333333vw;
  bottom: 3.125vw;
}

.wrapper-mover .main-speaking .box-control-exam .btn-next {
  display: block;
  background: url("../images/btn-next-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  right: 2.0833333333vw;
  bottom: 3.125vw;
}

.wrapper-mover .main-speaking .box-control-exam .paging {
  background: url("../images/bg-diem-bxh.png") no-repeat 0/100%;
  width: 8.3333333333vw;
  height: 7.7604166667vw;
  position: absolute;
  bottom: 2.0833333333vw;
  left: 9.375vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.4583333333vw;
  font-family: 'Baloo Tammudu';
}
/* end speaking listing */

.wrapper-mover .main-vatpham .box-user {
  margin: 0 2.6041666667vw;
}

.wrapper-mover .main-vatpham .box-user .user-top {
  background: url("../images/bg-us-vatpham.png") no-repeat 0/100%;
  width: 28.3333333333vw;
  height: 37.7083333333vw;
  position: relative;
}

.wrapper-mover .main-vatpham .box-user .user-top .box-info {
  background: url("../images/boxx-top-bxh.png") no-repeat 0/100%;
  width: 25.9895833333vw;
  height: 15.0520833333vw;
  position: absolute;
  bottom: -1.0416666667vw;
  padding: 3.6458333333vw 0 0 0;
}

.wrapper-mover .main-vatpham .box-user .user-top .box-info .avatar {
  width: 5.625vw;
  height: 5.625vw;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  margin: 0.78125vw 1.5625vw 0 2.2395833333vw;
}

.wrapper-mover .main-vatpham .box-user .user-top .box-info .avatar img {
  width: 100%;
}

.wrapper-mover .main-vatpham .box-user .user-top .box-info .info-user {
  width: 13.0208333333vw;
  padding-top: 1.0416666667vw;
  font-size: 1.7708333333vw;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.wrapper-mover .main-vatpham .box-user .user-top .box-info .info-user p {
  margin-bottom: 0.2604166667vw;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.wrapper-mover .main-vatpham .box-user .btn-change-avatar {
  background: url("../images/btn-change-ava.png") no-repeat 0/100%;
  width: 21.9270833333vw;
  height: 6.5625vw;
  border: none;
  color: #ffffff;
  font-family: 'Baloo Tammudu';
  font-size: 1.9791666667vw;
  text-transform: uppercase;
  padding-top: 0.5208333333vw;
  margin: 2.6041666667vw auto;
  display: block;
}

.wrapper-mover .main-vatpham .box-vatpham {
  background: url("../images/bg-vatpham.png") no-repeat 0/100%;
  width: 35.46875vw;
  height: 46.40625vw;
  padding: 7.8125vw 5.2083333333vw;
  position: relative;
}

.wrapper-mover .main-vatpham .box-vatpham .btn-prev {
  display: block;
  background: url("../images/btn-prev-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  bottom: 3.125vw;
  left: 6.25vw;
  z-index: 4;
}

.wrapper-mover .main-vatpham .box-vatpham .btn-next {
  display: block;
  background: url("../images/btn-next-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  bottom: 3.125vw;
  right: 6.25vw;
  z-index: 4;
}

.wrapper-mover .main-vatpham .box-vatpham .box-page {
  background: url("../images/bg-diem-bxh.png") no-repeat 0/100%;
  width: 8.3333333333vw;
  height: 7.7604166667vw;
  position: absolute;
  bottom: 2.0833333333vw;
  left: 13.5416666667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 1.4583333333vw;
  font-family: 'Baloo Tammudu';
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item {
  color: #ffffff;
  font-family: 'Baloo Tammudu';
  text-align: center;
  width: 50%;
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item .item-vp {
  background: url("../images/item-vatpham.png") no-repeat 0/100%;
  width: 9.2708333333vw;
  height: 11.0416666667vw;
  padding: 1.3020833333vw 1.0416666667vw;
  margin: 0.2604166667vw auto;
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item .item-vp .name-vp {
  font-size: 1.0416666667vw;
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item .item-vp .img {
  display: block;
  width: 9.0104166667vw;
  height: 6.9270833333vw;
  margin: -1.3020833333vw 0 0 -1.0416666667vw;
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item .item-vp .img img {
  width: 100%;
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item .item-vp .coin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1979166667vw;
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item .item-vp .coin:before {
  content: '';
  display: inline-block;
  background: url("../images/icon-coin.png") no-repeat 0/100%;
  width: 1.09375vw;
  height: 1.09375vw;
  margin-right: 0.2604166667vw;
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item .btn-vp {
  background: url("../images/bg-text-vp.png") no-repeat 0/100%;
  width: 8.1770833333vw;
  height: 2.2916666667vw;
  border: none;
  padding-top: 0.5208333333vw;
  color: #ffffff;
  font-size: 1.0416666667vw;
}

.wrapper-mover .main-vatpham .box-vatpham .lst-vatpham .box-item .btn-vp:focus {
  outline: none;
}

.wrapper-mover .popup-xephang {
  background: url("../images/bg-popup-bxh.png") no-repeat 0/100%;
  width: 22.2395833333vw;
  height: 23.90625vw;
  position: absolute;
  top: 3.6458333333vw;
  left: -2.6041666667vw;
  z-index: 999;
  padding: 3.6458333333vw 3.6458333333vw 3.6458333333vw 3.125vw;
  display: none;
}

.wrapper-mover .popup-xephang.active {
  display: block;
}

.wrapper-mover .popup-xephang .cont-bxh {
  height: 100%;
  overflow: auto;
  text-align: center;
}

.wrapper-mover .popup-xephang .cont-bxh::-webkit-scrollbar {
  width: 0.5208333333vw;
}

.wrapper-mover .popup-xephang .cont-bxh::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.2604166667vw grey;
          box-shadow: inset 0 0 0.2604166667vw grey;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.wrapper-mover .popup-xephang .cont-bxh::-webkit-scrollbar-thumb {
  background: #ffffff;
  -webkit-border-radius: 0.5208333333vw;
          border-radius: 0.5208333333vw;
}

.wrapper-mover .popup-xephang .cont-bxh .item {
  background: url("../images/bg-level-bxh.png") no-repeat 0/100%;
  width: 14.21875vw;
  height: 3.28125vw;
  margin: 0 auto 0.5208333333vw;
  color: #ffffff;
  font-size: 1.25vw;
  text-transform: uppercase;
  font-family: 'Baloo Tammudu';
  padding-top: 0.78125vw;
}

.wrapper-mover .main-baocao {
  padding: 0 2.34375vw !important;
  margin-top: 0 !important;
}

.wrapper-mover .main-baocao .top-baocao {
  position: relative;
  height: 10.2604166667vw;
}

.wrapper-mover .main-baocao .top-baocao .btn-trove {
  display: block;
  background: url("../images/btn-trove.png") no-repeat 0/100%;
  width: 8.3854166667vw;
  height: 5.8854166667vw;
}

.wrapper-mover .main-baocao .top-baocao .title-baocao {
  display: block;
  background: url("../images/title-baocao.png") no-repeat 0/100%;
  width: 32.6041666667vw;
  height: 10.2604166667vw;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -16.3020833333vw;
}

.wrapper-mover .main-baocao .main-tab-list {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40.625vw;
  margin: 1.0416666667vw auto;
  padding: 0.3645833333vw;
  border: 0.0520833333vw solid #ffffff;
  -webkit-border-radius: 2.34375vw;
     -moz-border-radius: 2.34375vw;
          border-radius: 2.34375vw;
}

.wrapper-mover .main-baocao .main-tab-list li a {
  color: #e32224;
  font-size: 1.875vw;
  font-family: 'Baloo Tammudu';
  text-transform: uppercase;
  padding: 0.78125vw 1.8229166667vw 0;
  -webkit-border-radius: 1.8229166667vw;
     -moz-border-radius: 1.8229166667vw;
          border-radius: 1.8229166667vw;
}

.wrapper-mover .main-baocao .main-tab-list li a.active {
  background-color: #ffffff;
}

.wrapper-mover .main-baocao .tab-content .box-chart {
  padding: 2.6041666667vw;
  background-color: #ffffff;
  -webkit-border-radius: 2.6041666667vw;
     -moz-border-radius: 2.6041666667vw;
          border-radius: 2.6041666667vw;
}

.wrapper-mover .main-baocao .tab-content .box-chart #lineChart {
  width: 100% !important;
  height: auto !important;
  margin: 0 auto;
}

.wrapper-mover .main-baocao .tab-content .bottom-control {
  margin: 2.34375vw 0;
}

.wrapper-mover .main-baocao .tab-content .bottom-control .item-bar {
  width: 22.5520833333vw;
  height: 4.0625vw;
  background-color: #ffffff;
  -webkit-border-radius: 2.03125vw;
     -moz-border-radius: 2.03125vw;
          border-radius: 2.03125vw;
  padding: 0.3645833333vw 0.3645833333vw 0.3645833333vw 1.5625vw;
  -webkit-box-shadow: 0 0 10px 2px #cccccc;
     -moz-box-shadow: 0 0 10px 2px #cccccc;
          box-shadow: 0 0 10px 2px #cccccc;
}

.wrapper-mover .main-baocao .tab-content .bottom-control .item-bar span {
  display: block;
  font-weight: bold;
  color: #000000;
  font-size: 1.0416666667vw;
  width: 7.03125vw;
  text-transform: uppercase;
}

.wrapper-mover .main-baocao .tab-content .bottom-control .item-bar div {
  width: 11.875vw;
  height: 100%;
  -webkit-border-radius: 1.6666666667vw;
     -moz-border-radius: 1.6666666667vw;
          border-radius: 1.6666666667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5104166667vw;
  font-weight: 900;
  color: #ffffff;
}

.wrapper-mover .main-baocao .tab-content .bottom-control .item-bar div.bar1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(left, #f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  background-image: -o-linear-gradient(left, #f3a770, #f37b70);
  background-image: linear-gradient(to right, #f3a770, #f37b70);
}

.wrapper-mover .main-baocao .tab-content .bottom-control .item-bar div.bar2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#6c9e70), to(#37482b));
  background-image: -webkit-linear-gradient(left, #6c9e70, #37482b);
  background-image: -moz- oldlinear-gradient(left, #6c9e70, #37482b);
  background-image: -o-linear-gradient(left, #6c9e70, #37482b);
  background-image: linear-gradient(to right, #6c9e70, #37482b);
}

.wrapper-mover .main-baocao .tab-content .bottom-control .item-bar div.bar3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#b27033), to(#5c472f));
  background-image: -webkit-linear-gradient(left, #b27033, #5c472f);
  background-image: -moz- oldlinear-gradient(left, #b27033, #5c472f);
  background-image: -o-linear-gradient(left, #b27033, #5c472f);
  background-image: linear-gradient(to right, #b27033, #5c472f);
}

.wrapper-mover .main-baocao .box-level-current {
  width: 22.3958333333vw;
  height: 4.0625vw;
  background-color: #ffffff;
  -webkit-border-radius: 2.03125vw;
     -moz-border-radius: 2.03125vw;
          border-radius: 2.03125vw;
  margin: 1.3020833333vw auto;
  padding: 0.3645833333vw 0.3645833333vw 0.3645833333vw 1.4583333333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 10px 0px #464343;
     -moz-box-shadow: 0 0 10px 0px #464343;
          box-shadow: 0 0 10px 0px #464343;
}

.wrapper-mover .main-baocao .box-level-current span {
  display: block;
  width: 4.6875vw;
  font-size: 1.0416666667vw;
  color: #000000;
  text-transform: uppercase;
}

.wrapper-mover .main-baocao .box-level-current .level {
  width: 15.1041666667vw;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(left, #f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  background-image: -o-linear-gradient(left, #f3a770, #f37b70);
  background-image: linear-gradient(to right, #f3a770, #f37b70);
  color: #ffffff;
  font-weight: 900;
  font-size: 1.5104166667vw;
  text-transform: uppercase;
  -webkit-border-radius: 1.6666666667vw;
     -moz-border-radius: 1.6666666667vw;
          border-radius: 1.6666666667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-mover .main-baocao #tab-tk {
  height: 21.0416666667vw;
  background-color: #ffffff;
  -webkit-border-radius: 1.3020833333vw;
     -moz-border-radius: 1.3020833333vw;
          border-radius: 1.3020833333vw;
  margin-bottom: 2.6041666667vw;
  padding: 1.3020833333vw;
}

.wrapper-mover .main-baocao .info-detail-1 .item-column-1 {
  width: 33.6979166667vw;
}

.wrapper-mover .main-baocao .info-detail-1 .item-column-1 h4 {
  text-align: center;
}

.wrapper-mover .main-baocao .info-detail-1 .item-column-1 h4 span {
  padding: 0.5208333333vw 1.8229166667vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(left, #f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  background-image: -o-linear-gradient(left, #f3a770, #f37b70);
  background-image: linear-gradient(to right, #f3a770, #f37b70);
  color: #ffffff;
  font-size: 1.5104166667vw;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-border-radius: 1.8229166667vw;
     -moz-border-radius: 1.8229166667vw;
          border-radius: 1.8229166667vw;
}

.wrapper-mover .main-baocao .info-detail-1 .item-column-1 .list-info-course {
  padding-top: 2.6041666667vw;
}

.wrapper-mover .main-baocao .info-detail-1 .item-column-1 .list-info-course .item {
  border-bottom: 1px solid #f37b70;
  padding: 0.4166666667vw;
  margin-bottom: 1.3020833333vw;
  color: #000000;
  font-size: 1.0416666667vw;
  text-transform: uppercase;
}

.wrapper-mover .main-baocao .info-detail-1 .item-column-1 .list-info-course .item strong {
  display: block;
  width: 10.6770833333vw;
}

.wrapper-mover .main-baocao #pills-tab-sub {
  background: url("../images/line-tab.png") no-repeat 0/100%;
  width: 72.2395833333vw;
  height: 1.8229166667vw;
  position: relative;
  margin: 0 auto 2.6041666667vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-mover .main-baocao #pills-tab-sub li a {
  font-weight: bold;
  font-size: 0.78125vw;
  color: #000000;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1.3020833333vw;
  text-transform: uppercase;
  padding: 0.5208333333vw 2.6041666667vw;
}

.wrapper-mover .main-baocao #pills-tab-sub li a:before {
  content: '';
  display: block;
  background: url("../images/icon-checkpoint.png") no-repeat 0/100%;
  width: 2.8645833333vw;
  height: 2.8125vw;
  margin-bottom: 0.5208333333vw;
}

.wrapper-mover .main-baocao #pills-tab-sub li a.active {
  background-color: transparent;
  color: #000000;
}

.wrapper-mover .main-baocao #pills-tab-sub li a.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 2.8645833333vw solid transparent;
  border-right: 2.8645833333vw solid transparent;
  border-top: 2.8645833333vw solid #fff;
  position: absolute;
  top: -2.6041666667vw;
}

.wrapper-mover .main-baocao #pills-tab-tk {
  width: 45.3125vw;
  height: 2.7604166667vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 6px #ccc;
     -moz-box-shadow: 0 0 6px #ccc;
          box-shadow: 0 0 6px #ccc;
  margin: 1.8229166667vw auto -1.0416666667vw;
  -webkit-border-radius: 1.40625vw;
     -moz-border-radius: 1.40625vw;
          border-radius: 1.40625vw;
  position: relative;
}

.wrapper-mover .main-baocao #pills-tab-tk li a {
  padding: 0.6770833333vw;
  width: 15.1041666667vw;
  text-align: center;
  -webkit-border-radius: 1.8229166667vw;
     -moz-border-radius: 1.8229166667vw;
          border-radius: 1.8229166667vw;
  margin-top: -0.46875vw;
  font-size: 1.5104166667vw;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
}

.wrapper-mover .main-baocao #pills-tab-tk li a.active {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(left, #f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  background-image: -o-linear-gradient(left, #f3a770, #f37b70);
  background-image: linear-gradient(to right, #f3a770, #f37b70);
  color: #ffffff;
}

.wrapper-mover .main-baocao .tab-tkhd {
  width: 100%;
  height: 27.0833333333vw;
  background-color: #ffffff;
  -webkit-border-radius: 1.8229166667vw;
     -moz-border-radius: 1.8229166667vw;
          border-radius: 1.8229166667vw;
  padding: 2.0833333333vw 1.5625vw;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 {
  width: 48%;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course {
  padding-top: 1.0416666667vw;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item {
  font-size: 0.8333333333vw;
  font-weight: bold;
  padding: 0.78125vw 0;
  margin-bottom: 0.2604166667vw;
  border-bottom: 0.0520833333vw solid #f37b70;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item:first-child {
  font-weight: normal;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item strong {
  display: inline-block;
  width: auto;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item span {
  display: inline-block;
  text-align: center;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item span .text-red {
  color: #f04428;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item span:first-child {
  width: 11.9791666667vw;
  text-align: left;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item span:nth-child(2) {
  width: 5.2083333333vw;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item span:nth-child(3) {
  width: 5.2083333333vw;
}

.wrapper-mover .main-baocao .tab-tkhd .item-column-1 .list-info-course .item span:nth-child(4) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper-mover .main-baocao .tab-tkhd .box-filter-date {
  width: 28.8020833333vw;
  height: 3.4895833333vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(left, #f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  background-image: -o-linear-gradient(left, #f3a770, #f37b70);
  background-image: linear-gradient(to right, #f3a770, #f37b70);
  -webkit-border-radius: 1.71875vw;
     -moz-border-radius: 1.71875vw;
          border-radius: 1.71875vw;
  padding: 0.3645833333vw;
  margin: 0.78125vw auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-mover .main-baocao .tab-tkhd .box-filter-date .date-box {
  width: 16.9791666667vw;
  height: 100%;
  -webkit-border-radius: 1.3020833333vw;
     -moz-border-radius: 1.3020833333vw;
          border-radius: 1.3020833333vw;
  border: none;
  font-size: 1.0416666667vw;
  color: #000000;
  padding: 0 3.125vw 0 1.3020833333vw;
  position: relative;
  background-color: #ffffff;
}

.wrapper-mover .main-baocao .tab-tkhd .box-filter-date .date-box input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border: none;
}

.wrapper-mover .main-baocao .tab-tkhd .box-filter-date .date-box:after {
  content: '';
  display: block;
  background: url("../images/icon-date.png") no-repeat 0/100%;
  width: 2.34375vw;
  height: 2.34375vw;
  position: absolute;
  top: 0.2604166667vw;
  right: 0.2604166667vw;
}

.wrapper-mover .main-baocao .tab-tkhd .box-filter-date .btn-filter-date {
  width: 10.15625vw;
  height: 100%;
  -webkit-border-radius: 1.3020833333vw;
     -moz-border-radius: 1.3020833333vw;
          border-radius: 1.3020833333vw;
  color: #000000;
  font-weight: 900;
  font-size: 1.0416666667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  text-transform: uppercase;
}

.wrapper-mover .main-baocao .tab-tkhd .main-action {
  width: 100%;
  height: 18.2291666667vw;
  overflow: auto;
}

.wrapper-mover .main-baocao .tab-tkhd .main-action .list-action {
  padding-right: 1.5625vw;
}

.wrapper-mover .main-baocao .tab-tkhd .main-action .list-action .item {
  font-size: 1.0416666667vw;
  color: #000000;
  line-height: 3.6458333333vw;
  border-bottom: 0.0520833333vw solid #f37b70;
}

.wrapper-mover .main-baocao .tab-tkhd .main-action .list-action .item .date {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 12.2395833333vw;
}

.wrapper-mover .main-baocao .tab-tkhd .main-action .list-action .item .icon-star {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url("../images/icon-star-1.png") no-repeat 0/100%;
  width: 2.65625vw;
  height: 2.5520833333vw;
  margin-right: 0.78125vw;
}

.wrapper-mover .main-baocao .tab-tkhd .main-action .list-action .item .btn-nhan {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6.4583333333vw;
  height: 2.34375vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#cc4e43), to(#eb8236));
  background-image: -webkit-linear-gradient(left, #cc4e43, #eb8236);
  background-image: -moz- oldlinear-gradient(left, #cc4e43, #eb8236);
  background-image: -o-linear-gradient(left, #cc4e43, #eb8236);
  background-image: linear-gradient(to right, #cc4e43, #eb8236);
  color: #ffffff;
  font-weight: 900;
  font-size: 1.3020833333vw;
  text-decoration: none;
  -webkit-border-radius: 1.1979166667vw;
     -moz-border-radius: 1.1979166667vw;
          border-radius: 1.1979166667vw;
  margin-left: 8.8541666667vw;
}

.wrapper-mover .main-baocao .tab-tkhd .main-action .list-action .item .info-action {
  font-weight: bold;
  width: 52.0833333333vw;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.wrapper-mover .main-baocao .tab-tkhd #pills-tabtk3 .main-action {
  height: 20.8333333333vw;
  margin-top: 1.5625vw;
}

.wrapper-partlearn .result-1, .wrapper-partlearn .box-input-quiz {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.wrapper-partlearn .result-1 .info-answer, .wrapper-partlearn .box-input-quiz .info-answer {
  color: #f16e6c;
  line-height: 1.2;
}

.wrapper-partlearn .result-1 .info-answer:after, .wrapper-partlearn .box-input-quiz .info-answer:after {
  margin-bottom: 0.2604166667vw !important;
  margin-left: 0.4166666667vw;
}

.wrapper-partlearn .box-input-quiz .info-answer {
  font-size: 1.1458333333vw;
  font-weight: bold;
}

.wrapper-partlearn .info-answer {
  color: #ffffff;
  font-size: 1.5104166667vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0.8;
  width: 100%;
}

.wrapper-partlearn .info-tick:after {
  content: '';
  display: block;
  background: url("../images/icon-tick-9.png") no-repeat 0/100%;
  width: 1.8229166667vw;
  height: 1.3020833333vw;
  margin-bottom: 0.4166666667vw;
}

.wrapper-partlearn .info-err:after {
  content: '';
  display: block;
  background: url("../images/icon-tick-92.png") no-repeat 0/100%;
  width: 1.4583333333vw;
  height: 1.7708333333vw;
  margin-bottom: 0.4166666667vw;
}

.wrapper-partlearn .item-cell {
  position: relative;
  overflow: visible !important;
}

.wrapper-partlearn .item-cell .an-tick {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.8854166667vw;
     -moz-border-radius: 0.8854166667vw;
          border-radius: 0.8854166667vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37b70), to(#f3a670));
  background-image: -webkit-linear-gradient(top, #f37b70, #f3a670);
  background-image: -moz- oldlinear-gradient(top, #f37b70, #f3a670);
  background-image: -o-linear-gradient(top, #f37b70, #f3a670);
  background-image: linear-gradient(to bottom, #f37b70, #f3a670);
  position: relative;
}

.wrapper-partlearn .item-cell .an-tick:after {
  content: '';
  display: block;
  background: url("../images/icon-tick-9.png") no-repeat 0/100%;
  width: 1.8229166667vw;
  height: 1.3020833333vw;
  margin-bottom: 0.4166666667vw;
  position: absolute;
  right: -0.78125vw;
  top: 0;
}

.wrapper-partlearn .item-cell .an-err {
  position: absolute;
  top: -1.8229166667vw;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.8854166667vw;
     -moz-border-radius: 0.8854166667vw;
          border-radius: 0.8854166667vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37b70), to(#f3a670));
  background-image: -webkit-linear-gradient(top, #f37b70, #f3a670);
  background-image: -moz- oldlinear-gradient(top, #f37b70, #f3a670);
  background-image: -o-linear-gradient(top, #f37b70, #f3a670);
  background-image: linear-gradient(to bottom, #f37b70, #f3a670);
}

.wrapper-partlearn .item-cell .an-err:after {
  content: '';
  display: block;
  background: url("../images/icon-tick-92.png") no-repeat 0/100%;
  width: 1.4583333333vw;
  height: 1.7708333333vw;
  margin-bottom: 0.4166666667vw;
  right: -0.78125vw;
  top: 0;
  position: absolute;
}

.wrapper-partlearn .no-bg-img {
  background-image: none !important;
}

.wrapper-partlearn .custom-control {
  position: relative;
}

.wrapper-partlearn .custom-control .check-tick {
  display: block;
  background: url("../images/icon-tick-9.png") no-repeat 0/100%;
  width: 1.8229166667vw;
  height: 1.3020833333vw;
  position: absolute;
  top: 0.2604166667vw;
  left: 0.3645833333vw;
}

.wrapper-partlearn .custom-control .check-tick.tick-ss-9 {
  left: 2.0833333333vw;
}

.wrapper-partlearn .custom-control .check-err {
  display: block;
  background: url("../images/icon-tick-92.png") no-repeat 0/100%;
  width: 1.4583333333vw;
  height: 1.7708333333vw;
  position: absolute;
  top: 0.2604166667vw;
  left: 0.3645833333vw;
}

.wrapper-partlearn .box-lst-11 .box-input {
  position: relative;
}

.wrapper-partlearn .box-lst-11 .box-input .box-reply {
  position: absolute;
  bottom: 0;
}

.wrapper-partlearn .box-lst-11 .box-input .info-answer {
  color: #f16e6c;
  font-size: 2.4479166667vw;
  padding-top: 0.78125vw;
  line-height: 0.8;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  position: relative;
  margin-bottom: 0.5208333333vw;
}

.wrapper-partlearn .box-lst-11 .box-input .info-answer:after {
  margin-bottom: 0.4166666667vw;
  position: absolute;
  right: -1.8229166667vw;
  bottom: -0.5208333333vw;
}

.wrapper-partlearn .box-item-question-13 .check-err, .wrapper-partlearn .box-item-question-13 .check-tick {
  left: -0.2604166667vw;
}

.wrapper-partlearn .box-item-question-13 .check-err.tick-ss-9, .wrapper-partlearn .box-item-question-13 .check-tick.tick-ss-9 {
  left: 1.5625vw;
}

.wrapper-partlearn .main-score .content-main .box-item .lst-question-main .lst-question-4 .item-question.custom-line .result-1.answer-result-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: auto !important;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  max-width: 60px;
  margin-top: -25px;
}
.slick-arrow img {
  max-width: 50px;
}

.slick-arrow.slick-next {
  left: auto;
  right: 0;
}
