.box-gradient {
  border: 0.3041666667vw solid transparent;
  -webkit-background-clip: padding-box, border-box;
  -moz-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  -webkit-background-origin: padding-box, border-box;
  -moz-background-origin: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efeef0), to(#efeef0)), -webkit-gradient(linear, left top, left bottom, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(#efeef0, #efeef0), -webkit-linear-gradient(#f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(#efeef0, #efeef0), -moz- oldlinear-gradient(#f3a770, #f37b70);
  background-image: -o-linear-gradient(#efeef0, #efeef0), -o-linear-gradient(#f3a770, #f37b70);
  background-image: linear-gradient(#efeef0, #efeef0), linear-gradient(#f3a770, #f37b70);
  -webkit-border-radius: 1.8229166667vw;
  -moz-border-radius: 1.8229166667vw;
  border-radius: 1.8229166667vw;
  
}
.box-note {
  padding: 0.625vw 1.3020833333vw;
  margin: 5px 0 15px 0;
}
.box-gradient02 {
  border: 0.3041666667vw solid transparent;
  -webkit-background-clip: padding-box, border-box;
  -moz-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  -webkit-background-origin: padding-box, border-box;
  -moz-background-origin: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efeef0), to(#efeef0)), -webkit-gradient(linear, left top, left bottom, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(#efeef0, #efeef0), -webkit-linear-gradient(#f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(#efeef0, #efeef0), -moz- oldlinear-gradient(#f3a770, #f37b70);
  background-image: -o-linear-gradient(#efeef0, #efeef0), -o-linear-gradient(#f3a770, #f37b70);
  background-image: linear-gradient(#efeef0, #efeef0), linear-gradient(#f3a770, #f37b70);
  -webkit-border-radius: 1.8229166667vw;
  -moz-border-radius: 1.8229166667vw;
  border-radius: 0.8229166667vw;
}

.lst-question .item-note {
  padding: 0.5vw;
  margin: 5px 0 15px 0;
}
.box-item-question-20 .box-answer .box-images {
  width: 8.6979166667vw;
  height: 7.4479166667vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37b70), to(#f3a670));
  background-image: -webkit-linear-gradient(top, #f37b70, #f3a670);
  background-image: -moz- oldlinear-gradient(top, #f37b70, #f3a670);
  background-image: -o-linear-gradient(top, #f37b70, #f3a670);
  background-image: linear-gradient(to bottom, #f37b70, #f3a670);
  padding: 0.3125vw;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-item-question-20 .box-answer .box-images span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
  padding: 0.3125vw;
}

.box-item-question-20 .box-answer .box-images span img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-item-question-20 .box-answer .box-answer-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box-item-question-20 .box-answer .box-answer-list .option-answer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0.78125vw;
}

.box-item-question-20 .box-answer .box-answer-list .option-answer span {
  display: inline-block;
  margin: 0 0.78125vw;
}

.box-item-question-20 .box-answer .box-answer-list .option-answer strong {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box-lst-21 {
  width: 30.4375vw;
  margin: 0 auto;
  padding: 1.5625vw 0;
  font-family: "Baloo Tammudu";
}

.box-lst-21 .box-21 {
  margin-bottom: 1.25vw;
  position: relative;
}
.box-lst-21 .box-21 .item-num {
  position: absolute;
  top: 50%;
  left: -1.5vw;
  font-weight: bold;
  font-size: 1.5541666667vw;
  margin-top: -0.5vw;
}


.box-lst-21 .box-21 .box-images {
  width: 7.1354166667vw;
  height: 5.8333333333vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37b70), to(#f3a670));
  background-image: -webkit-linear-gradient(top, #f37b70, #f3a670);
  background-image: -moz- oldlinear-gradient(top, #f37b70, #f3a670);
  background-image: -o-linear-gradient(top, #f37b70, #f3a670);
  background-image: linear-gradient(to bottom, #f37b70, #f3a670);
  padding: 0.3125vw;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-lst-21 .box-21 .box-images span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
  padding: 0.3125vw;
}

.box-lst-21 .box-21 .box-images span img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-lst-21 .box-21 .item-note {
  width: 20.1458333333vw;
  margin: 0 1vw;
  max-height: 10vw;
  overflow-y: auto;
  padding: 0.5vw;
}
.box-lst-21 .box-21 .item-note {
  width: 20.1458333333vw;
  padding: 0 1vw;
  padding: 0.5vw;
}

.box-lst-21 .box-21 .box-input {
  width: 62px;
  height: 46px;
  border: 0.2604166667vw solid transparent;
  -webkit-background-clip: padding-box, border-box;
  -moz-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  -webkit-background-origin: padding-box, border-box;
  -moz-background-origin: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)), -webkit-gradient(linear, left top, left bottom, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(#ffffff, #ffffff), -moz- oldlinear-gradient(#f3a770, #f37b70);
  background-image: -o-linear-gradient(#ffffff, #ffffff), -o-linear-gradient(#f3a770, #f37b70);
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#f3a770, #f37b70);
  padding: 5px 7px;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
  position: relative;
}

.box-lst-21 .box-21 .box-input span {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-bottom: 1px solid #f37b70;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  -webkit-border-image: -webkit-linear-gradient(left, #f3a770, #f37b70);
  -moz-border-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  -moz-border-image: linear-gradient(to right, #f3a770, #f37b70);
  -o-border-image: -o-linear-gradient(left, #f3a770, #f37b70);
  border-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  border-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  border-image: linear-gradient(to right, #f3a770, #f37b70);
  border-image-slice: 1;
  color: #f16e6c;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  background: transparent;
}

.box-lst-21 .box-21 .box-input span input {
  border: none;
  background: none;
  width: 100%;
  height: auto;
  text-align: center;
  color: #f16e6c;
  text-transform: uppercase;
  padding-top: 5px;
  font-size: 26px;
  line-height: 180%;
  margin-top: -15px;
}
.box-lst-21 .box-21 .box-input span input::placeholder {
  padding-top: 5px;
  font-size: 26px;
  margin-top: 10px;
  color: #f16e6c;
  height: auto;
}

/*bangxephang*/
.home-mover .wrapper-mover .home-wrapper .box-right-main.fullscreen {
  padding: 1.8229166667vw 2.6041666667vw 0;
  width: 100vw;
  margin-top: 1.0416666667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 {
  background: url("../images/bg-bxh_v2.png") no-repeat 0/100%;
  width: 44.4791666667vw;
  height: 48.8541666667vw;
  padding: 10.15625vw 2.25vw;
  position: relative;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 .lst-bxh {
  flex-direction: row;
    justify-content: space-between;
    display: block;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 .lst-bxh .item-bxh {
  width: 48%;
  display: inline-block;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 .lst-bxh .item-bxh .bxh-inner{
  display: flex;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 .lst-bxh .item-bxh .number {
  min-width: 45px;
  text-align: right;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-page {
  left: 50%;
  margin-left: -4.16vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years.col4 {
  background: url("../images/bg-bxh-year.png") no-repeat 0/100%;
  width: 28.235vw;
    position: absolute;
    left: 50%;
    margin-left: -14.1vw;
    height: 3.35vw;
    margin-top: -1vw;
    margin-bottom: 1vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years.col4 ul li{
  list-style: none;
  display: inline-block;
  width: 24%;
  text-align: center;
  font-size: 1.0416666667vw;
  font-weight: bold;
  color: #ffffff;

}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years.col4 ul {
  line-height: 3.015vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .title-lst-bxh.ver02 {
  top: 5.5vw;
}

.box-name {
  background: url("../images/bg-input.png") no-repeat 0/100%;
  width: 21.7708333333vw;
  height: 4.0104166667vw;
  margin: 0.2604166667vw auto;
  border: none;
  padding: 0 1.3020833333vw;
  color: #ffffff;
  font-size: 1.0416666667vw;
}


/*style right content*/

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 {
  top: 0.2604166667vw;
  right: 1.8229166667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh1.png") no-repeat 0/100%;
  width: 18.28125vw;
  height: 19.7395833333vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 .number {
  top: -2.6041666667vw;
  left: -2.6041666667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 {
  top: 14.5833333333vw;
  left: 1.3020833333vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh2.png") no-repeat 0/100%;
  width: 16.0416666667vw;
  height: 16.09375vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 .number {
  top: -7.8125vw;
  left: -2.6041666667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 {
  top: 26.0416666667vw;
  right: 1.8229166667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh3.png") no-repeat 0/100%;
  width: 18.9583333333vw;
  height: 15.5208333333vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 .number {
  top: -7.2916666667vw;
  right: 0.2604166667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .main-chondethi .lst-question-exam .ic-free.item-exam::before {
  position: absolute;
  content: "";
  z-index: 2;
  right: 0.2vw;
  top: 9.7vw;
  width: 5vw;
  height: 5.3vw;
  background: url(../images/ic_free.png) top left no-repeat;
  background-size: cover;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
}


.box-lst-21 .box-input .box-reply {
  position: absolute;
  bottom: 0;
}

.box-lst-21 .box-input .info-answer {
  color: #f16e6c;
  font-size: 2.4479166667vw;
  padding-top: 0.78125vw;
  line-height: 0.8;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  position: relative;
  margin-bottom: 0.5208333333vw;
}

.box-lst-21 .box-input .info-answer:after {
  margin-bottom: 0.4166666667vw;
  position: absolute;
  right: -1.8229166667vw;
  bottom: -0.125vw;
}

.box-item-question-13 .check-err, .box-item-question-13 .check-tick {
  left: -0.2604166667vw;
}

.box-item-question-13 .check-err.tick-ss-9, .box-item-question-13 .check-tick.tick-ss-9 {
  left: 1.5625vw;
}

.main-score .content-main .box-item .lst-question-main .lst-question-4 .item-question.custom-line .result-1.answer-result-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: auto !important;
}


.custom-control .check-tick {
  display: block;
  background: url("../images/icon-tick-9.png") no-repeat 0/100%;
  width: 1.8229166667vw;
  height: 1.3020833333vw;
  position: absolute;
  top: 0.2604166667vw;
  left: 0.3645833333vw;
}

.custom-control .check-tick.tick-ss-9 {
  left: 2.0833333333vw;
}

.custom-control .check-err {
  display: block;
  background: url("../images/icon-tick-92.png") no-repeat 0/100%;
  width: 1.4583333333vw;
  height: 1.7708333333vw;
  position: absolute;
  top: 0.2604166667vw;
  left: 0.3645833333vw;
}


.info-tick:after {
  content: '';
  display: block;
  background: url("../images/icon-tick-9.png") no-repeat 0/100%;
  width: 1.8229166667vw;
  height: 1.3020833333vw;
  margin-bottom: 0.4166666667vw;
}

.info-err:after {
  content: '';
  display: block;
  background: url("../images/icon-tick-92.png") no-repeat 0/100%;
  width: 1.4583333333vw;
  height: 1.7708333333vw;
  margin-bottom: 0.4166666667vw;
}

.popup-diachi.active {
  top: 50%;
}
.popup-diachi {
  background: url(../images/bg_diachi.png) no-repeat 0/100%;
  width: 67.708vw;
  height: 28.125vw;
  position: absolute;
  top: -100%;
  margin-top: -14.7395833333vw;
  left: 50%;
  margin-left: -33.625vw;
  z-index: 9999;
  padding: 9.1166666667vw 4.6041666667vw 4.6041666667vw;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.popup-diachi .select-input {
  width: 14.427vw;
  height: 2.604vw;
  position: relative;
  margin: 0 4px;
}

.popup-diachi .select-input__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 2.604vw;
    margin: auto;
    z-index: 2;
    padding: 0 20px;
    /*background: url(../images/bg-input.png) no-repeat 100%;*/
}
.select-input__background-wrapper {
    background: url(../images/bg-input-small.png) no-repeat 50%;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.has-dropdown-icon:before {
    content: "";
    background: url(../images/icon-arrow-dropdown.png) no-repeat 100%;
    width: 15px;
    height: 15px;
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 0.96vw;
    z-index: 12;
}

.popup-diachi .select-input__name {
    position: relative;
    display: flex;
    align-items: center;
    height: 2.604vw;
    z-index: 10;
    color: #FFF;
    font-size: 20px;
    padding:10px 0 0;
    font-family: 'Baloo Tammudu';
}

.frm-diachi {
  background: url(../images/bg_frm_diachi.png) no-repeat 0/100%;
  padding: 10px;
}

.btn-diachi {
    background: url(../images/btn-login.png) no-repeat 0/100%;
    width: 13.542vw;
    height: 3.490vw;
    border: none;
    margin: 0.5208333333vw auto 0;
    color: #ffffff;
    font-family: 'Baloo Tammudu';
    font-size: 1.7270833333vw;
    text-transform: uppercase;
    padding-top: 1.0208333333vw;
    margin-top: 2.5vw;
}

.frm-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*width: 100%;*/
  margin: 0 -4px;
}

.txtarea {
  background: url(../images/bg_txtarea.png) no-repeat 50%;
    background-size: contain;
    width: 61.458vw;
    height: 4.844vw;
    color: #ffffff;
    font-family: 'Baloo Tammudu';
    color: #FFF;
    font-size: 20px;
    padding: 15px 20px;
    overflow: hidden;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin: 0 4px;
}

.box-dropsearch.active {
  display: block;
}
.box-dropsearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 19vw;
  z-index: 1;
  background: url("../images/bg_dropsearch.png") no-repeat 0/100%;
  padding: 0vw 0.5vw 2vw 0.5vw;
  padding-top: 2.604vw;
  display: none;
  background-position: top left!important;
}
.box-dropsearch ul {
  list-style: none;
  height: 14.45vw;
  overflow-y: auto;
  margin: 5px 0 0;
  padding: 0;
}
.box-dropsearch ul li{
  margin-right: 0.5vw;
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Baloo Tammudu';
    font-size: 18px;
    width: 12.217vw;
    height: 2.344vw;
    background: url(../images/bg-input-small.png) no-repeat 50%;
    background-size: contain;
    line-height: 4vw;
    
    margin-bottom: 0.125vw;
}

.box-dropsearch ul li .box-address{
    width: 100%;
    height: 100%;
    padding: 0 1vw;
}
.box-dropsearch ul li .name{ 
  font-size: 18px;
  padding-top: 12px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.box-name-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5.625vw;
  position: relative;
}


/*//style chon loai de thi*/

.wrapper-mover .main-chonloaidethi .top-chondethi .btn-trove {
  display: block;
  background: url("../images/btn-trove.png") no-repeat 0/100%;
  width: 8.3854166667vw;
  height: 5.8854166667vw;
}

.wrapper-mover .main-chonloaidethi .btn-trove {
  font-size: 1.215vw;
  font-weight: bold;
  text-align: center;
  width: 8.3854166667vw;
  height: 5.8854166667vw;
  line-height: 5.8854166667vw;
  color: #fff;
  text-transform: uppercase;

}

.wrapper-mover .main-chonloaidethi .top-chondethi .title-chonloaidethi {
    display: block;
    background: url(../images/sst_flyer.png) no-repeat 0/100%;
    width: 32.604vw;
    height: 10.260vw;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -16.3020833333vw;
}

.main-chonloaidethi {
  padding: 1vw 3vw;
}

.top-chondethi {
  position: relative;
  min-height: 10vw;
}

.box-chonloaidethi {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.box-dethi {
  background: url(../images/box_dethi.png) no-repeat 0/100%!important;
  width: 26.344vw;
  height: 41.042vw;
  text-align: center;
  margin: 0 3vw;
  position: relative;
}

.box-featured .bingo1 {
  margin-top: 5vw;
  width: 17.125vw;
  margin-bottom: 2VW;
}

.box-featured .bingo2 {
  margin-top: 3.5vw;
  width: 14.546vw;
  margin-bottom: 1VW;
} 

.wrapper-mover .main-chonloaidethi .title-pretext {
    font-family: "Baloo Tammudu";
    position: absolute;
    width: 17.1041666667vw;
    height: 5.2083333333vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    left: 50%;
    margin-left: -8.5vw;
}
.wrapper-mover .main-chonloaidethi .title-pretext span {
    text-transform: uppercase;
    font-size: 3.125vw;
    webkit-text-stroke: 0.1041666667vw #cbcacaeb;
    text-shadow: 0 -2px 2px rgb(0 0 0 / 20%), 0 4px 2px rgb(0 0 0 / 20%);
    background-image: linear-gradient(
0deg,#8d1212,red),linear-gradient(
180deg,#fff,#fff);
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    color: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    letter-spacing: -2px;
    line-height: 1.2;
    height: 2.6041666667vw;
    margin-top: -0.35vw;
}


.item-skeaking {
  position: relative;
}
.box-skeaking {
  width: 19.792vw;
  height: 7.240vw;
  text-align: center;
  background: url(../images/bg-titlehomenew.png) no-repeat 0/100%!important;
}

    .box-skeaking .st-speaking {
        font-family: "Baloo Tammudu";
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 2.05vw;
    }

.box-skeaking .st-speaking span {
    text-transform: uppercase;
    font-size: 2.813vw;
    -webkit-text-stroke: 0.1041666667vw #cbcacaeb;
    text-shadow: 0px -2px 2px rgb(0 0 0 / 20%), 0 4px 2px rgb(0 0 0 / 20%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff1500), to(#ff3c0d)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(bottom, #ff1500, #ff3c0d), -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz- oldlinear-gradient(bottom, #ff1500, #ff3c0d), -moz- oldlinear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(bottom, #ff1500, #ff3c0d), -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to top, #ff1500, #ff3c0d), linear-gradient(to bottom, #fff, #fff);
    font-stretch: normal;
    font-style: normal;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    letter-spacing: -3px;
    line-height: 1.2;
    height: 2.6041666667vw;
    margin-top: 10px;
}

.box-skeaking .st-speaking span.ic-new {
  font-size: 1.354vw;
  -webkit-text-stroke: 0.0741666667vw #cbcacaeb;
  position: absolute;
  top: 0.55vw;
  left: 50%;
  margin-left: -0.938vw;
}

.box-dropspeak {
  position: absolute;
  top: 5.25vw;
  width: 19.583vw;
  height: 16.250vw;
  background: url(../images/bg_dropdownhome.png) no-repeat 0/100%!important;
  padding-top: 2.865vw;
  z-index: 999;
  display: none;

}
.box-dropspeak.active {
  display: block;
}
.box-dropspeak ul {
  display: block;
  list-style: none;
  margin-left: -0.5vw;
}
.box-dropspeak ul li {
  /*margin-right: 0.5vw;*/
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Baloo Tammudu';
  font-size: 1.458vw;
  width: 15.833vw;
  height: 3.646vw;
  background: url(../images/bg_item_speak.png) no-repeat 50%;
  background-size: contain;
  line-height: 4vw;
  margin-bottom: 0.125vw;
  z-index: 999;
  text-align: center;
}


 /*style color box*/

 .box-data-color {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .box-data-color .item-cell{
    /*border: 2px dashed #898989;*/
    width: 240px;
    height: 56px;
    line-height: 50px;
    margin: 10px 0.5%;
    border-radius: 15px;
    position: relative;
    color: #fff;
 }
 .box-data-color .item-cell span {
    position: relative;
    z-index: 2;
 }
 .btn-default {
  border: 2px dashed #898989;
 }

 .btn-default::before {
    opacity: 0;
 }

 .box-data-color .item-cell::before {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  content: "";
  border-radius: 15px;
  display: block;
  /*border: 1px solid #fff!important;*/
  background:-moz-radial-gradient(ellipse at 55% 49%, #FFFF00 0%, #f2f1f1 0%, #e2e2e2 0%, #bababa 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 55% 49%, #FFFF00 0%, #f2f1f1 0%, #e2e2e2 0%, #bababa 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 55% 49%, #FFFF00 0%, #f2f1f1 0%, #e2e2e2 0%, #bababa 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 55% 49%, #FFFF00 0%, #f2f1f1 0%, #e2e2e2 0%, #bababa 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 55% 49%, #FFFF00 0%, #f2f1f1 0%, #e2e2e2 0%, #bababa 100%);
 }
 .box-data-color .item-cell::after {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  content: "";
  border-radius: 15px;
  display: block;
  text-align: center;
 }
 
 .bg-yellow {
  border: 0!important;
 }
.bg-yellow::before {
  
  
 }
.bg-yellow::after {
  background: rgb(239,113,0);
  background: linear-gradient(180deg, rgba(239,113,0,1) 0%, rgba(215,123,0,1) 50%, rgba(185,136,0,1) 100%);
  z-index: 1;
 }

 .bg-blue::after {
    background: rgb(54,101,246);
    background: linear-gradient(180deg, rgba(54,101,246,1) 0%, rgba(32,68,207,1) 50%, rgba(10,35,167,1) 100%);
 }

 .bg-green::after {
    background: rgb(107,171,126);
background: linear-gradient(180deg, rgba(107,171,126,1) 0%, rgba(68,130,112,1) 50%, rgba(28,87,97,1) 100%);
 }
.bg-red::after {
   background: rgb(223,30,30);
background: linear-gradient(180deg, rgba(223,30,30,1) 0%, rgba(192,25,25,1) 50%, rgba(147,19,19,1) 100%);
 }
.bg-pink::after {
   background: rgb(248,99,103);
background: linear-gradient(180deg, rgba(248,99,103,1) 0%, rgba(223,70,102,1) 50%, rgba(167,7,99,1) 100%);
 }
