.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
  /* Let's get this party started */
  /* Track */
  /* Handle */
}

.scrollbar::-webkit-scrollbar {
  width: 0.5729166667vw;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3125vw rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5729166667vw;
  border-radius: 0.5729166667vw;
}

.scrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.5729166667vw;
  border-radius: 0.5729166667vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#f3a670), color-stop(50%, #f39670), to(#f37b70));
  background: -webkit-linear-gradient(bottom, #f3a670 0%, #f39670 50%, #f37b70 100%);
  background: linear-gradient(0deg, #f3a670 0%, #f39670 50%, #f37b70 100%);
}

.scrollbar::-webkit-scrollbar-thumb:window-inactive {
  background: -webkit-gradient(linear, left bottom, left top, from(#f3a670), color-stop(50%, #f39670), to(#f37b70));
  background: -webkit-linear-gradient(bottom, #f3a670 0%, #f39670 50%, #f37b70 100%);
  background: linear-gradient(0deg, #f3a670 0%, #f39670 50%, #f37b70 100%);
}
.box-gradient {
  border: 0.3041666667vw solid transparent;
  -webkit-background-clip: padding-box, border-box;
  -moz-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  -webkit-background-origin: padding-box, border-box;
  -moz-background-origin: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efeef0), to(#efeef0)), -webkit-gradient(linear, left top, left bottom, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(#efeef0, #efeef0), -webkit-linear-gradient(#f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(#efeef0, #efeef0), -moz- oldlinear-gradient(#f3a770, #f37b70);
  background-image: -o-linear-gradient(#efeef0, #efeef0), -o-linear-gradient(#f3a770, #f37b70);
  background-image: linear-gradient(#efeef0, #efeef0), linear-gradient(#f3a770, #f37b70);
  -webkit-border-radius: 1.8229166667vw;
  -moz-border-radius: 1.8229166667vw;
  border-radius: 1.8229166667vw;
  
}
.box-note {
  padding: 0.625vw 1.3020833333vw;
  margin: 5px 0 15px 0;
}
.box-gradient02 {
  border: 0.3041666667vw solid transparent;
  -webkit-background-clip: padding-box, border-box;
  -moz-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  -webkit-background-origin: padding-box, border-box;
  -moz-background-origin: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efeef0), to(#efeef0)), -webkit-gradient(linear, left top, left bottom, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(#efeef0, #efeef0), -webkit-linear-gradient(#f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(#efeef0, #efeef0), -moz- oldlinear-gradient(#f3a770, #f37b70);
  background-image: -o-linear-gradient(#efeef0, #efeef0), -o-linear-gradient(#f3a770, #f37b70);
  background-image: linear-gradient(#efeef0, #efeef0), linear-gradient(#f3a770, #f37b70);
  -webkit-border-radius: 1.8229166667vw;
  -moz-border-radius: 1.8229166667vw;
  border-radius: 0.8229166667vw;
}

.lst-question .item-note {
  padding: 0.5vw;
  margin: 5px 0 15px 0;
}
.box-item-question-20 .box-answer .box-images {
  width: 8.6979166667vw;
  height: 7.4479166667vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37b70), to(#f3a670));
  background-image: -webkit-linear-gradient(top, #f37b70, #f3a670);
  background-image: -moz- oldlinear-gradient(top, #f37b70, #f3a670);
  background-image: -o-linear-gradient(top, #f37b70, #f3a670);
  background-image: linear-gradient(to bottom, #f37b70, #f3a670);
  padding: 0.3125vw;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-item-question-20 .box-answer .box-images span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
  padding: 0.3125vw;
}

.box-item-question-20 .box-answer .box-images span img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-item-question-20 .box-answer .box-answer-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box-item-question-20 .box-answer .box-answer-list .option-answer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0.78125vw;
}

.box-item-question-20 .box-answer .box-answer-list .option-answer span {
  display: inline-block;
  margin: 0 0.78125vw;
}

.box-item-question-20 .box-answer .box-answer-list .option-answer strong {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box-lst-21 {
  width: 30.4375vw;
  margin: 0 auto;
  padding: 1.5625vw 0;
  font-family: "Baloo Tammudu";
}

.box-lst-21 .box-21 {
  margin-bottom: 1.25vw;
  position: relative;
}
.box-lst-21 .box-21 .item-num {
  position: absolute;
  top: 50%;
  left: -1.5vw;
  font-weight: bold;
  font-size: 1.5541666667vw;
  margin-top: -0.5vw;
}


.box-lst-21 .box-21 .box-images {
  width: 7.1354166667vw;
  height: 5.8333333333vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37b70), to(#f3a670));
  background-image: -webkit-linear-gradient(top, #f37b70, #f3a670);
  background-image: -moz- oldlinear-gradient(top, #f37b70, #f3a670);
  background-image: -o-linear-gradient(top, #f37b70, #f3a670);
  background-image: linear-gradient(to bottom, #f37b70, #f3a670);
  padding: 0.3125vw;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-lst-21 .box-21 .box-images span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
  padding: 0.3125vw;
}

.box-lst-21 .box-21 .box-images span img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-lst-21 .box-21 .item-note {
  width: 20.1458333333vw;
  margin: 0 1vw;
  max-height: 10vw;
  overflow-y: auto;
  padding: 0.5vw;
}
.box-lst-21 .box-21 .item-note {
  width: 20.1458333333vw;
  padding: 0 1vw;
  padding: 0.5vw;
}

.box-lst-21 .box-21 .box-input {
  width: 62px;
  height: 46px;
  border: 0.2604166667vw solid transparent;
  -webkit-background-clip: padding-box, border-box;
  -moz-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  -webkit-background-origin: padding-box, border-box;
  -moz-background-origin: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)), -webkit-gradient(linear, left top, left bottom, from(#f3a770), to(#f37b70));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#f3a770, #f37b70);
  background-image: -moz- oldlinear-gradient(#ffffff, #ffffff), -moz- oldlinear-gradient(#f3a770, #f37b70);
  background-image: -o-linear-gradient(#ffffff, #ffffff), -o-linear-gradient(#f3a770, #f37b70);
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#f3a770, #f37b70);
  padding: 5px 7px;
  -webkit-border-radius: 0.78125vw;
  -moz-border-radius: 0.78125vw;
  border-radius: 0.78125vw;
}

.box-lst-21 .box-21 .box-input span {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-bottom: 1px solid #f37b70;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  -webkit-border-image: -webkit-linear-gradient(left, #f3a770, #f37b70);
  -moz-border-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  -moz-border-image: linear-gradient(to right, #f3a770, #f37b70);
  -o-border-image: -o-linear-gradient(left, #f3a770, #f37b70);
  border-image: -webkit-gradient(linear, left top, right top, from(#f3a770), to(#f37b70));
  border-image: -moz- oldlinear-gradient(left, #f3a770, #f37b70);
  border-image: linear-gradient(to right, #f3a770, #f37b70);
  border-image-slice: 1;
  color: #f16e6c;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  background: transparent;
}

.box-lst-21 .box-21 .box-input span input {
  border: none;
  background: none;
  width: 100%;
  height: auto;
  text-align: center;
  color: #f16e6c;
  text-transform: uppercase;
  padding-top: 5px;
  font-size: 26px;
  line-height: 180%;
  margin-top: -15px;
}
.box-lst-21 .box-21 .box-input span input::placeholder {
  padding-top: 5px;
  font-size: 26px;
  margin-top: 10px;
  color: #f16e6c;
  height: auto;
}

/*bangxephang*/
.home-mover .wrapper-mover .home-wrapper .box-right-main.fullscreen {
  padding: 1.8229166667vw 2.6041666667vw 0;
  width: 100vw;
  margin-top: 1.0416666667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 {
  background: url("../images/bg-bxh_v2.png") no-repeat 0/100%;
  width: 44.4791666667vw;
  height: 48.8541666667vw;
  padding: 10.15625vw 2.25vw;
  position: relative;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 .lst-bxh {
  flex-direction: row;
    justify-content: space-between;
    display: block;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 .lst-bxh .item-bxh {
  width: 48%;
  display: inline-block;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 .lst-bxh .item-bxh .bxh-inner{
  display: flex;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh.col2 .lst-bxh .item-bxh .number {
  min-width: 45px;
  text-align: right;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-page {
  left: 50%;
  margin-left: -4.16vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years.col4 {
  background: url("../images/bg-bxh-year.png") no-repeat 0/100%;
  width: 28.235vw;
    position: absolute;
    left: 50%;
    margin-left: -14.1vw;
    height: 3.35vw;
    margin-top: -1vw;
    margin-bottom: 1vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years.col4 ul li{
  list-style: none;
  display: inline-block;
  width: 24%;
  text-align: center;
  font-size: 1.0416666667vw;
  font-weight: bold;
  color: #ffffff;

}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years.col4 ul {
  line-height: 3.015vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .title-lst-bxh.ver02 {
  top: 5.5vw;
}

.box-name {
  background: url("../images/bg-input.png") no-repeat 0/100%!important;
  width: 20.7708333333vw;
  height: 4.0104166667vw;
  margin: 0.2604166667vw auto;
  border: none;
  padding: 0 1.3020833333vw;
  color: #ffffff;
  font-size: 1.0416666667vw;
  position: relative;
  z-index: 10;
}

.box-name.box-small {
  background: url("../images/bg-input-small.png") no-repeat 0/100%!important;
  width: 15.7708333333vw;
  height: 4.0104166667vw;
  margin: 0.2604166667vw auto;
  border: none;
  padding: 0 1.3020833333vw;
  color: #ffffff;
  font-size: 1.0416666667vw;
  position: relative;
  z-index: 10;
}

/*style right content*/

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 {
  top: 0.2604166667vw;
  right: 6.8229166667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh1.png") no-repeat 0/100%;
  width: 18.28125vw;
  height: 19.7395833333vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 .number {
  top: -2.6041666667vw;
  left: -2.6041666667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 {
  top: 14.5833333333vw;
  left: 5.3020833333vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh2.png") no-repeat 0/100%;
  width: 16.0416666667vw;
  height: 16.09375vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 .number {
  top: -7.8125vw;
  left: -2.6041666667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 {
  top: 27.0416666667vw;
  right: 1.8229166667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh3.png") no-repeat 0/100%;
  width: 18.9583333333vw;
  height: 15.5208333333vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 .number {
  top: -7.2916666667vw;
  right: 0.2604166667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh {
  background: url("../images/bg-bxh.png") no-repeat 0/100%;
  width: 29.4791666667vw;
  height: 48.8541666667vw;
  padding: 10.15625vw 6.25vw;
  position: relative;
}



.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .btn-next {
  display: block;
  background: url("../images/btn-next-bxh.png") no-repeat 0/100%;
  width: 6.1458333333vw;
  height: 6.3541666667vw;
  position: absolute;
  bottom: 3.125vw;
  right: 3.6458333333vw;
  z-index: 4;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-page {
  background: url("../images/bg-diem-bxh.png") no-repeat 0/100%;
  width: 8.3333333333vw;
  height: 7.7604166667vw;
  position: absolute;
  bottom: 2.0833333333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 1.4583333333vw;
  font-family: 'Baloo Tammudu';
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          margin-top: 2.5vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .number {
  font-size: 2.6041666667vw;
  color: #6b3801;
  font-family: 'Baloo Tammudu';
  margin-top: 1.3020833333vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info {
  background: url("../images/box-bxh.png") no-repeat 0/100%;
  width: 16.7708333333vw;
  height: 5.3645833333vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info .avatar {
  width: 3.4895833333vw;
  height: 3.4895833333vw;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  margin: 0.6770833333vw 0.78125vw 0 1.6666666667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info .avatar img {
  width: 100%;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info .info-user {
  width: 8.8541666667vw;
  padding-top: 0.8854166667vw;
  font-size: 1.0416666667vw;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .title-lst-bxh {
  margin-bottom: 0.2604166667vw;
  position: absolute;
  top: 6.275625vw;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.65rem;
  font-weight: 500;
  font-family: 'Baloo Tammudu';
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .lst-bxh .item-bxh .box-info .info-user p {
  margin-bottom: 0.2604166667vw;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  position: relative;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item {
  position: absolute;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info {
  background: url("../images/boxx-top-bxh.png") no-repeat 0/100%;
  width: 15.9375vw;
  height: 9.21875vw;
  position: absolute;
  z-index: 3;
  padding: 2.03125vw 0 0 0;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info .avatar {
  width: 3.4895833333vw;
  height: 3.4895833333vw;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  margin: 0.6770833333vw 0.78125vw 0 1.40625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info .avatar img {
  width: 100%;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info .info-user {
  width: 8.8541666667vw;
  padding-top: 0.8854166667vw;
  font-size: 1.0416666667vw;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .box-info .info-user p {
  margin-bottom: 0.2604166667vw;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item .number {
  font-size: 18.59375vw;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  font-family: 'Baloo Tammudu';
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 {
  top: 0.2604166667vw;
  right: 6.8229166667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh1.png") no-repeat 0/100%;
  width: 18.28125vw;
  height: 19.7395833333vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 .number {
  top: -2.6041666667vw;
  left: -2.6041666667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-1 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 {
  top: 14.5833333333vw;
  left: 1.3020833333vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh2.png") no-repeat 0/100%;
  width: 16.0416666667vw;
  height: 16.09375vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 .number {
  top: -7.8125vw;
  left: -2.6041666667vw;
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-2 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 {
  top: 28.0416666667vw;
  right: 0.8229166667vw;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3:before {
  content: '';
  display: inline-block;
  background: url("../images/bg-bxh3.png") no-repeat 0/100%;
  width: 18.9583333333vw;
  height: 15.5208333333vw;
  position: relative;
  z-index: 2;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 .number {
  top: -7.2916666667vw;
  right: -1.739583vw
  text-shadow: 0 0 10px #cccccc;
}

.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-top-bxh .item.top-3 .box-info {
  bottom: -1.8229166667vw;
  left: 1.5625vw;
}

.home-mover {
  background: url("../images/bg.jpg") no-repeat 50% 0;
  font-family: 'Montserrat', sans-serif;
}

.home-mover .wrapper-mover {
  width: 100%;
  overflow: hidden;
}

.home-mover .wrapper-mover .home-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.home-mover .wrapper-mover .home-wrapper .box-right-main {
  padding: 1.8229166667vw 2.6041666667vw 0;
  width: 80vw;
  margin-top: 1.0416666667vw;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .item-account-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5.625vw;
  position: relative;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .item-account-user .box-avatar {
  background: url("../images/bg-avatar.png") no-repeat 0/100%;
  width: 5.4166666667vw;
  height: 5.625vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 11;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .item-account-user .box-avatar span {
  display: block;
  width: 4.1145833333vw;
  height: 4.1145833333vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .item-account-user .box-avatar span img {
  width: 100%;
}

.top-home .item-account-user .box-name {
  width: 20.8333333333vw;
  height: 3.5vw;
  margin-left: -4.1666666667vw;
  padding-left: 4.6875vw;
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Baloo Tammudu';
  font-size: 1.6vw;
  color: #ffffff;
  /*text-transform: uppercase;*/
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 3.9vw;
  -webkit-border-radius: 2.0833333333vw;
  -moz-border-radius: 2.0833333333vw;
  border-radius: 2.0833333333vw;
  padding-top: 0.25208333333vw;
}

.top-home .item-account-user .box-name.box-small {
  width: 15.8333333333vw;
  height: 3.5vw;
  margin-left: -4.1666666667vw;
  padding-left: 4.6875vw;
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Baloo Tammudu';
  font-size: 1.4125vw;
  color: #ffffff;
  /*text-transform: uppercase;*/
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 3.5vw;
  -webkit-border-radius: 2.0833333333vw;
  -moz-border-radius: 2.0833333333vw;
  border-radius: 2.0833333333vw;
  padding-top: 0.25208333333vw;
}


.top-home .item-account-user .box-name.box-larger { 
  background: url(../images/bg-input.png) no-repeat 0/100%!important;
  width: 22vw;
}
.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .box-right-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .box-right-control .btn-xephang {
  display: inline-block;
  background: url("../images/btn-xephang.png") no-repeat 0/100%;
  width: 13.4895833333vw;
  height: 6.3020833333vw;
  color: #ffffff;
  font-size: 1.25vw;
  font-family: 'Baloo Tammudu';
  padding: 1.5625vw 0 0 5.2083333333vw;
  text-transform: uppercase;
  margin-left: 1.0416666667vw;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .box-right-control .btn-diemthuong {
  display: inline-block;
  background: url("../images/btn-diemthuong.png") no-repeat 0/100%;
  width: 15.5208333333vw;
  height: 6.5104166667vw;
  color: #ffffff;
  font-size: 1.25vw;
  font-family: 'Baloo Tammudu';
  padding: 1.5625vw 0 0 5.2083333333vw;
  text-transform: uppercase;
  margin-left: 1.0416666667vw;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .box-right-control .btn-logout {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url("../images/btn-logout.png") no-repeat 0/100%;
  width: 5.4166666667vw;
  height: 5.625vw;
  margin-left: 0.78125vw;
  text-indent: -999em;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .main-home {
  width: 74.4791666667vw;
  height: 43.75vw;
  position: relative;
}
.box-dropsearch.active {
  display: block;
}
.box-dropsearch {
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 19vw;
  z-index: 9;
  background: url("../images/bg_dropsearch.png") no-repeat 0/100%;
  padding: 0vw 1vw 2vw 1vw;
  padding-top: 3.6vw;
  display: none;
}
.box-dropsearch ul {
  list-style: none;
  height: 14.45vw;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
.box-dropsearch ul li{
  margin-right: 0.5vw;
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Baloo Tammudu';
    font-size: 1.4vw;
    height: 3.15vw;
    background: url(../images/bg-input.png) no-repeat 0/100%!important;
    line-height: 4vw;
    padding: 0 1vw;
    margin-bottom: 0.25vw;
}

.box-dropsearch ul li.no-bg{
    background: transparent!important;
    padding: 0;
}
.top-home .item-account-user .box-dropsearch ul li.no-bg .box-name{
    width: 19.8333333333vw;
    height: 3vw;
    margin-left: -3.1666666667vw;
    padding-left: 3.3875vw;
}
.top-home .item-account-user .box-dropsearch ul li.no-bg .box-name .name{ 
  line-height: 3vw;
  font-size: 1.4vw;
}
.top-home .item-account-user .box-dropsearch ul li.no-bg .box-name .num{ 
  line-height: 3vw;
  position: absolute;
  top: -3px;
  right: -2px;
  height: 3vw;
  width: 7vw;
  text-align: center;
  line-height: 4vw;
  background: url(../images/bg_num.png) no-repeat 0/100%!important;
  color: #070707;
  font-size: 1.4vw;
}

.box-name-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5.625vw;
  position: relative;
}

.home-mover .wrapper-mover .home-wrapper .box-right-main .top-home .box-name-inner .box-avatar {
  background: url("../images/bg-avatar.png") no-repeat 0/100%;
  width: 3.625vw;
  height: 3.625vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 11;
}


.box-dropsearch ul li span{ 
  display: block;
  line-height: 4vw;
  height: 3.5vw;
  margin-top: 0.25vw;
}

.wrapper-mover .home-wrapper .box-right-main .top-home .logo {
  display: block;
  margin-right: 0.5208333333vw;
}
.wrapper-mover .home-wrapper .box-right-main .main-bxh .box-bxh .box-years ul li.active{
  background: url("../images/bg-bxh-year-active.png") no-repeat 0/100%;
  color: #fff;
}